@font-face {
    font-family: 'helvetica-compressedregular';
    src: url('/assets/css/webfonts/unicode.helvetic-webfont.woff2') format('woff2'),
         url('/assets/css/webfonts/unicode.helvetic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


#map {
  height: 60%;
  width: 60%;
  position: relative; overflow: hidden;
}
.map-buttons{
  margin-bottom: 5px;
}

.tex-summary{
  margin-right: 20px
}

.card-map-stats{
  min-height: 580px;
}

.btnOnMap{
	margin-bottom:4px;
	padding:0px;
}
.frecordstd{
	border: 1px solid gray;
}

/* Main CSS */
.filters {
	position: absolute; 
	top: 40px; 
	left: 0px; 
	width: 100%; 
	z-index: 9999;
}
.filters form.form-filtering {
	width: 800px; 
	margin: 0 auto; 
	z-index: 9999; 
	padding: 8px; 
	background: rgba(51,51,51,0.5);
}
.legends {
	position: absolute; 
	top: 20px; 
	right: 60px; 
	z-index: 9999;
	background: rgba(51,51,51,0.2);
	padding: 10px 20px;
}
.legends ul li img {
	margin-right: 10px;
	width: 24px;
}

.tagline {
	position: fixed;
	bottom: 60px;
	left: 40px;
	z-index: 9999;
}

.tagline h1 {
	font-family: 'helvetica-compressedregular';
	font-size: 6rem;
	letter-spacing: .2em;
}

.scanschart {
	position: fixed;
	width: 100px;
	height: 200px;
	top: 150px;
	left: 15px;
	border: 2px;
	z-index: 9999;
}

.linkswindow {
	position: fixed;
	width: 200px;
	height: 200px;
	bottom: 10px;
	right: 160px;
	border: 2px;
	z-index: 9999;
}


.pageloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background:no-repeat rgb(249, 249, 249);
    opacity: .8;
    display: none;
}

.loadercenter {
  position: fixed;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
}