
.wrapper {
  width: 100%;
  width: 100%;
  height: auto;
  display: flex;
}
@media screen and (max-width: 768px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
  }
}

.modal{
  backdrop-filter: blur(0px) !important;
  background: rgba(255,255,255, .05);
}

.profile-card {
  width: 100%;
  min-height: 460px;
  margin: auto;
  background: #fff;
  border-radius: 12px;
  max-width: 700px;
  position: relative;
}
.profile-card.active .profile-card__cnt {
  /*filter: blur(6px);*/
}
.profile-card.active .profile-card-message,
.profile-card.active .profile-card__overlay {
  opacity: 1;
  /*backdrop-filter: blur(5px);*/
  pointer-events: auto;
  transition-delay: 0.1s;
}
.profile-card.active .profile-card-form {
  transform: none;
  transition-delay: 0.1s;
}
.profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 0px 0px 8px rgb(26, 188, 156),0px 0px 0px 20px rgba(245, 248, 250);
}
@media screen and (max-width: 576px) {
  .profile-card__img {
    width: 120px;
    height: 120px;
  }
}
.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-card__cnt {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all 0.3s;
}
.profile-card__name {
  font-weight: 700;
  font-size: 24px;
  color: #1ABC9C;
  margin-bottom: 15px;
}
.profile-card__txt {
  font-size: 18px;
  font-weight: 500;
  color: #324e63;
  margin-bottom: 15px;
}
.profile-card__txt strong {
  font-weight: 700;
}
.profile-card-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.profile-card-loc__icon {
  display: inline-flex;
  font-size: 27px;
  margin-right: 10px;
}
.profile-card-inf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 35px;
}
.profile-card-inf__item {
  padding: 10px 35px;
  min-width: 150px;
}
@media screen and (max-width: 768px) {
  .profile-card-inf__item {
    padding: 10px 20px;
    min-width: 120px;
  }
}
.profile-card-inf__title {
  font-weight: 700;
  font-size: 27px;
  color: #324e63;
}
.profile-card-inf__txt {
  font-weight: 500;
  margin-top: 7px;
}
.profile-card-social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profile-card-social__item {
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #405de6;
  box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
  position: relative;
  font-size: 21px;
  flex-shrink: 0;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .profile-card-social__item {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .profile-card-social__item:hover {
    transform: scale(1.2);
  }
}
.profile-card-social__item.facebook {
  background: linear-gradient(45deg, #3b5998, #0078d7);
  box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card-social__item.twitter {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
}
.profile-card-social__item.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
}
.profile-card-social__item.behance {
  background: linear-gradient(45deg, #1769ff, #213fca);
  box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.7);
}
.profile-card-social__item.github {
  background: linear-gradient(45deg, #333333, #626b73);
  box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
}
.profile-card-social__item.codepen {
  background: linear-gradient(45deg, #324e63, #414447);
  box-shadow: 0px 4px 30px rgba(55, 75, 90, 0.6);
}
.profile-card-social__item.link {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
}
.profile-card-social .icon-font {
  display: inline-flex;
}
.profile-card-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media screen and (max-width: 576px) {
  .profile-card-ctr {
    flex-wrap: wrap;
  }
}
.profile-card__button {
  background: none;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 19px;
  padding:10px;
  width: 100%;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .profile-card__button {
    min-width: 170px;
    margin: 15px 25px;
  }
}
@media screen and (max-width: 576px) {
  .profile-card__button {
    min-width: inherit;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
  }
  .profile-card__button:last-child {
    margin-bottom: 0;
  }
}
.profile-card__button:focus {
  outline: none !important;
}
@media screen and (min-width: 768px) {
  .profile-card__button:hover {
    transform: translateY(-5px);
  }
}
.profile-card__button:first-child {
  margin-left: 0;
}
.profile-card__button:last-child {
  margin-right: 0;
}
.profile-card__button.button--blue {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}
.profile-card__button.button--blue:hover {
  box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
}
.profile-card__button.button--orange {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}
.profile-card__button.button--orange:hover {
  box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}
.profile-card__button.button--gray {
  box-shadow: none;
  background: #dcdcdc;
  color: #142029;
}
.profile-card-message {
  width: 100%;
  /*height: 100%;*/
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 130px;
  padding-bottom: 100px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.profile-card-form {
  box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 35px;
  transform: scale(0.8);
  position: relative;
  z-index: 3;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .profile-card-form {
    max-width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .profile-card-form {
    padding: 20px;
  }
}
.profile-card-form__bottom {
  justify-content: space-between;
  display: flex;
}
@media screen and (max-width: 576px) {
  .profile-card-form__bottom {
    flex-wrap: wrap;
  }
}
.profile-card textarea {
  width: 100%;
  resize: none;
  height: 210px;
  margin-bottom: 20px;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px 20px;
  color: #324e63;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  outline: none;
  transition: all 0.3s;
}
.profile-card textarea:focus {
  outline: none;
  border-color: #8a979e;
}
.profile-card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(22, 33, 72, 0.35);
  border-radius: 12px;
  transition: all 0.3s;
}

.pull-right{
  float: right !important;
}

.steady-profile{
  position: fixed;
  right: 1em;
}

.modal{
  background: transparent !important;
}

@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700,900");
.form-tab .search-btn, .form-tab .search-field .search-placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dsds {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f3f9;
  /*height: 100vh;*/
  font-family: "Muli", Arial, sans-serif;
}

#dribbble {
  position: fixed;
  display: block;
  right: 70px;
  bottom: 16px;
}
#dribbble svg {
  display: block;
  width: 76px;
  height: 24px;
  fill: rgba(146, 156, 208, 0.8);
}

#twitter {
  position: fixed;
  display: block;
  right: 25px;
  bottom: 11px;
}
#twitter svg {
  width: 24px;
  height: 24px;
  fill: rgba(146, 156, 208, 0.8);
}

:root {
  --sw: 400px;
  --sh: 70px;
  --fs: 1.1em;
  --i1: 24px;
  --i2: 18px;
  --t: 14px;
  --l: 10px;
  --mt: 8px;
}

@media only screen and (max-width: 420px) {
  :root {
    --sw: 320px;
    --fs: .9em;
    --sh: 60px;
    --i1: 20px;
    --i2: 14px;
    --t: 12px;
    --l: 12px;
    --mt: 3px;
  }
}
.ul .li, .ul-title, .resoult-tab, .form-tab .search-btn, .form-container .form-tab, .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: var(--sw);
  height: 100px;
  background: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-container {
  width: var(--sw);
  height: var(--sh);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 30px -10px #d5dbed;
  margin-bottom: 10px;
}
.form-container .form-tab {
  width: 95%;
  height: calc(var(--sh) - 20px);
}

.form-tab .search-field {
  width: 75%;
  height: 50px;
  background: transparent;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  background: #eff4ff;
}
.form-tab .search-field .search-icon {
  position: absolute;
  top: var(--t);
  left: var(--l);
  z-index: 1;
  color: #6e80a5;
  opacity: 0.8;
  width: var(--i1);
  height: var(--i1);
}
.form-tab .search-field .search-placeholder {
  position: absolute;
  top: 0;
  margin-top: .8em;
  left: 42px;
  z-index: 1;
  color: #6e80a5;
  opacity: 0.8;
  font-size: calc(var( --fs) / 1.1);
}
.form-tab .search-field form {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
}
.form-tab .search-field form .text-field {
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: var(--fs);
  color: #3f3f3f;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 5px 5px 5px 43px;
  caret-color: #79a6ff;
  line-height: 2em;
}
.form-tab .search-btn {
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: calc(var(--fs) / 1.2);
  width: 25%;
  height: 40px;
  background: transparent;
  margin-top: 2px;
}
.form-tab .search-btn p {
  cursor: pointer;
  color: #222;
}

/*.resoult-tab {
  justify-content: flex-start;
  flex-direction: column;
  width: var(--sw);
  height: 0px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 30px -10px #d5dbed;
  overflow: hidden;
  transition: height 359ms cubic-bezier(0.27, 0.7, 0, 0.99);
}
*/
.resoult-tab-active {
  height: calc(calc(var(--sh) / 2) * 4);
  transition: height 399ms cubic-bezier(0.27, 0.7, 0, 0.99);
}

.ul-title {
  justify-content: flex-start;
  margin-top: var(--mt);
  width: 90%;
  height: 35px;
  background: transparent;
  opacity: 0;
}
.ul-title p {
  text-transform: uppercase;
  font-size: calc(var(--fs) / 1.7);
  color: #222;
  opacity: 0.4;
}

.ul {
  width: 100%;
  height: auto;
  background: transparent;
  position: relative;
  border-radius: 6px;
}
.ul .li {
  box-sizing: border-box;
  padding: 0 5%;
  justify-content: flex-start;
  width: 100%;
  height: calc(var(--sh) / 2.5);
  position: relative;
  overflow: hidden;
  background: rgba(20, 98, 255, 0);
  transition: background 399ms ease;
}
.ul .li:hover {
  background: rgba(20, 98, 255, 0.1);
  transition: background 299ms ease;
}
.ul .li .li-icon {
  margin-right: 8px;
}
.ul .li .li-icon .icon {
  transform: translatey(2px);
  color: #1462ff;
  width: var(--i2);
  height: var(--i2);
}
.ul .li .li-text {
  font-size: calc(var(--fs) / 1.3);
  color: #222;
  opacity: 0.8;
  cursor: pointer;
}

.li-active {
  animation: displayList 699ms cubic-bezier(0.6, 0.18, 0.5, 0.99) forwards;
  transform: translatey(40px);
  opacity: 0;
}

.li-1 {
  animation-delay: 99.5ms;
}

.li-2 {
  animation-delay: 199ms;
}

.li-3 {
  animation-delay: 298.5ms;
}

@keyframes displayList {
  0% {
    opacity: 0;
    transform: translatey(40px);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translatey(0px);
  }
}


.dsds .select2-container *{
  background: transparent !important;
  border: 0 !important;
}
.dsds .select2-selection__rendered{
  margin-top: .8em !important;
}

.uk-search-icon-flip svg{
    padding: 0 !important;
    cursor: pointer;
}

.visible{
    display: block !important;
}

.uk-animation-shake{
    animation-name: uk-shake !important;
}