.class_title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    white-space: nowrap;
}

.class_teacher_picture {
    width: 63px;
    height: 63px;
    position: absolute;
    right: 1em;
    transform: translateY(3em);
    border-radius: 50%;
    border: 4px solid white;
    z-index: 9
}

.class_teacher_name {
    transform: translateY(1.2em) translateX(1em);
    background: linear-gradient(90deg, white, white, white, transparent);
    padding: .5em;
    padding-left: 4em;
    font-weight: bold;
}

.icons-list .c_list {
    background: linear-gradient(90deg, rgb(0, 0, 0, .1), transparent);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-radius: 3em;
}

.course_title {
    font-size: 25px;
    text-shadow: 1px 1px 1px gray;
}

.profile-pic-50 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-pic-full {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-box .nav-profile-image img {
    border-radius: .3em !important;
    width: 70px;
    height: 70px;
}

.profile-box {
    text-align: center;
    /*border: thin solid lightgray;*/
}

.profile-box .nav-profile-text {
    font-family: 'Arial' !important;
    margin-top: .5em;
    color: gray;
}

.btn.btn-icon:hover {
    color: white !important;
}

.card {
    border: thin solid #EBEDF2;
}

.classroom_tab span {
    margin-left: .5em;
}

.navbar-nav .nav-item.active {
    border-bottom: 5px solid #17AD97;
    color: #17AD97;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .main-panel,
    .content-wrapper {
        padding: 0 !important;
    }
    .classroom_tab_div {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        justify-content: space-between;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px) !important;
        overflow: auto !important;
    }
    .bg-white-mobile {
        background: white !important;
    }
    .buttonChange2 {
        margin-top: 1em;
    }
    .classroom_tab .nav-link {
        text-align: center;
    }
    .classroom_tab_div li * {
        display: block !important;
        margin: 0;
    }
    .classroom_tab {
        width: 100% !important
    }
    .classroom_tab span {
        transform: translateY(-10px);
    }
    .classroom_tab_divssss {
        justify-content: space-between !important;
    }
    .classroom_tab_divssss .classroom_tab a i {
        display: none !important;
    }
    .classroom_tab_divssss .classroom_tab {
        border-radius: .3em !important;
        height: 50px !important;
        padding: 0em !important;
    }
    .dt-buttons button {
        margin-bottom: .5em !important;
    }
    .courseName {
        width: 100% !important;
    }
}


/*.form-control{
  background: #F8F9FA !important;
  border: 0;
  border-radius: .3em;
  padding: 1em !important;
  font-size: 18px;
  font-family: 'Arial';
}
*/

#schedule {
    width: 100%;
    margin: 0 auto;
    max-width: 895px;
    background: #fff;
    font-family: "Roboto", sans-serif;
    display: flex;
    position: asbolute;
}

.s-legend {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 150px;
}

.s-legend .s-head-info {
    height: 100%;
}

.s-legend .s-name {
    margin: 20px auto;
}

.s-legend .s-week-day {
    height: 100%;
    position: relative;
    box-shadow: inset 0 1px 0 0.5px #f5f5f5;
}

.s-legend .s-week-day .s-day {
    width: 100%;
    margin: 20px auto;
}

.s-head-info {
    font-weight: 900;
    max-height: 50px;
    position: relative;
    width: 100%;
}

.s-wrapper {
    display: flex;
}

.s-block {
    display: block;
    text-align: center;
}

.s-week-day {
    min-width: 50px;
    max-width: 150px;
    width: 100%;
}

.s-cell {
    text-align: center;
}

.s-container {
    width: 100%;
    overflow: auto;
}

.s-container .s-head-info {
    align-items: center;
    display: flex;
}

.s-container .s-head-info .s-head-hour {
    width: 100%;
    height: 55px;
    max-height: 55px;
    padding: 12px 0;
    min-width: 76.5px;
    border-left: 1.2px solid #e9e9e9;
}

.s-container .s-head-info .s-head-hour .s-number {
    font-size: 15px;
}

.s-container .s-head-info .s-head-hour .s-hourly-interval {
    color: #cccccc;
    font-size: 8px;
}

.s-container .s-rows-container {
    display: flex;
    position: relative;
}

.s-container .s-rows-container .s-activities {
    position: absolute;
    width: 100%;
    height: 100%;
}

.s-container .s-rows-container .s-activities .s-act-row {
    position: relative;
    height: 55px;
}

.s-container .s-rows-container .s-activities .s-act-row .green {
    background: linear-gradient(to right, #00b09b, #96c93d);
}

.s-container .s-rows-container .s-activities .s-act-row .orange {
    background: linear-gradient(to right, #F2994A, #F2C94C);
}

.s-container .s-rows-container .s-activities .s-act-row .red {
    background: linear-gradient(to right, #CB356B, #BD3F32);
}

.s-container .s-rows-container .s-activities .s-act-row .yellow {
    background: linear-gradient(to right, #fffc00, #fffc00);
}

.s-container .s-rows-container .s-activities .s-act-row .blue {
    background: linear-gradient(to right, #36D1DC, #5B86E5);
}

.s-container .s-rows-container .s-activities .s-act-row .pink {
    background: linear-gradient(to right, #834d9b, #d04ed6);
}

.s-container .s-rows-container .s-activities .s-act-row .black {
    background: linear-gradient(to right, #000428, #004e92);
}

.s-container .s-rows-container .s-activities .s-act-row .s-act-tab {
    height: 45px;
    padding: 15px;
    border-radius: 3px;
    position: absolute;
    top: 5px;
}

.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-wrapper {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-teacher,
.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-room,
.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-group {
    font-size: 7px;
    color: white;
    position: absolute;
    margin: 5px;
}

.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-group {
    bottom: 0;
    left: 0;
}

.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-name {
    color: white;
}

.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-teacher {
    left: 0;
    top: 0;
}

.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-room {
    top: 0;
    right: 0;
}

.s-hour-row {
    height: 100%;
    width: 100%;
    min-width: 76.5px;
}

.s-hour-row .s-hour-wrapper {
    display: flex;
}

.s-hour-row .s-hour-wrapper .s-half-hour:nth-child(2) {
    border-left: 0.5px solid #e9e9e9;
}

.s-hour-row .s-hour-wrapper .s-half-hour {
    width: 50%;
    height: 55px;
    border-left: 1.2px solid #e9e9e9;
}

@media only screen and (max-width: 480px) {
    .s-legend {
        width: 100px;
    }
}

.nav-link span {
    /*white-space: pre-wrap;*/
    white-space: normal;
}

.stepper {
    padding: 10px;
    font-size: 13px;
}

@media (min-width: 48em) {
    .stepper {
        padding: 20px;
    }
}

.stepper__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (min-width: 48em) {
    .stepper__list {
        display: flex;
        justify-content: space-between;
    }
}

.stepper__list__item {
    padding: 3px 5px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
}

@media (min-width: 48em) {
    .stepper__list__item {
        padding: 10px;
        flex-direction: column;
        flex: 1;
    }
}

.stepper__list__item:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
}

@media (min-width: 48em) {
    .stepper__list__item:after {
        width: calc(100% - 100px);
        top: 12%;
        left: calc(50% + 50px);
        border-top: 2px dotted #e2dfda;
    }
}

.stepper__list__item--done {
    color: #178a00;
    transition: all 0.1s;
}

@media (min-width: 48em) {
    .stepper__list__item--done:after {
        border-top-style: solid;
        border-top-width: 1px;
    }
}

.stepper__list__item--done:hover,
.stepper__list__item--done:focus {
    text-decoration: underline;
    cursor: pointer;
}

.stepper__list__item--current {
    color: #006dff;
}

.stepper__list__item--current:last-of-type:after,
.stepper__list__item--current:only-of-type:after {
    height: 30%;
}

.stepper__list__item:last-of-type:after {
    display: none;
}

.stepper__list__item--pending {
    color: #807370;
}

.stepper__list__item--pending:after {
    height: 30%;
}

.stepper__list__title {
    margin: 1px 0 0;
}

@media (min-width: 48em) {
    .stepper__list__title {
        margin: 0;
    }
}

.stepper__list__icon {
    margin: 0 10px 0 0;
    height: 2em;
    width: 2em;
}

@media (min-width: 48em) {
    .stepper__list__icon {
        margin: 0 0 15px;
    }
}

.stepper__list__icon path {
    fill: currentColor;
}

.stepper__list__icon ellipse,
.stepper__list__icon circle {
    stroke: currentColor;
}

.employeeClasses td .form-control {
    font-size: 14px !important;
    font-weight: bold !important;
}

.form {
    border: 3px dashed #6ECBBE !important;
    padding: 1.5em;
    border-radius: .5em;
}