    @import url("https://fonts.googleapis.com/css?family=Manrope:300,400,500,600,700&display=swap&subset=latin-ext");
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
    * {
        font-family: "Arial", sans-serif !important;
    }
    
    .modal-body * {
        font-family: "Manrope", sans-serif !important;
    }
    /*a {
        color: inherit !important;
    }*/
    
    #password,
    #username {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    }
    
    @media screen and (max-width: 768px) {
        #loader {
            position: fixed;
            margin: 0% 45% !important;
            z-index: 9999999999 !important;
            width: 30px !important;
            height: 30px !important;
        }
        #outdiv video {
            position: fixed;
            top: 7.5%;
            left: 0;
            right: 0px;
            width: 100%;
            height: 200px;
            border-radius: 0 !important;
            ;
            border-bottom-right-radius: 1em !important;
            ;
            border-bottom-left-radius: 1em !important;
            ;
            /*z-index: 99;*/
        }
        canvas {
            position: fixed;
            top: 55%;
            left: 0;
            right: 0px;
            width: 300px;
            height: 300px;
            border-radius: 0 !important;
            ;
            border-bottom-right-radius: 1em !important;
            ;
            border-bottom-left-radius: 1em !important;
            ;
            /*z-index: 99;*/
            visibility: hidden;
        }
        .ocrloader {
            width: 154px;
            height: 137px;
            position: fixed !important;
            top: 19% !important;
            left: 0%;
            right: 0%;
            transform: scale(1.5) translateX(-2em) !important;
            backface-visibility: hidden;
            display: block !important;
            z-index: 9;
        }
        .EventSystem {
            position: relative;
            top: 32% !important;
            z-index: 9;
            padding: .5em !important;
        }
    }
    
    .form-control-grade {
        width: 150px !important;
    }
    
    tr.child td.child {
        /* position: relative !important; */
        /* transform: translateY(.3em) !important; */
        /* border-radius: .5em !important;
        box-shadow: 0 0 10px 0 rgb(0, 0, 0, .1); */
        /* z-index: 999 !important; */
        /* width: 30% !important; */
    }
    
    tr.child td.child .dtr-details {
        /* width: 30% !important; */
        padding: 1em !important;
        border-radius: .5em !important;
        box-shadow: 0 0 10px 0 rgb(0, 0, 0, .1);
    }
    
    .modal-content {
        background: rgb(255, 255, 255, 1);
        /*backdrop-filter: blur(100px);*/
    }
    
    .stretch-card h1,
    .stretch-card .h1 {
        font-family: "Poppins", sans-serif !important;
    }
    
    .dropdown-item:hover {
        color: black !important;
        ;
    }
    
    .scroll-div {
        overflow: auto;
        white-space: nowrap;
    }
    
    .scroll-div .requests {
        margin-right: 1em;
        display: inline-block;
    }
    
    .scroll-div .requests .done,
    .scroll-div .requests .pending {
        width: 50px;
    }
    
    .MuiCircularProgress-static {
        transition: transform .1s cubic-bezier(.4, 0, .2, 1) 0s
    }
    
    .MuiCircularProgress-indeterminate {
        animation: MuiCircularProgress-keyframes-circular-rotate .5s linear infinite
    }
    
    .MuiCircularProgress-determinate {
        transition: transform .1s cubic-bezier(.4, 0, .2, 1) 0s
    }
    
    .MuiCircularProgress-colorPrimary {
        color: rgb(var(--primary))
    }
    
    .MuiCircularProgress-colorSecondary {
        color: rgb(var(--primary))
    }
    
    .MuiCircularProgress-svg {
        display: block;
        animation: loading_animation .5s infinite
    }
    
    .MuiCircularProgress-circle {
        stroke: currentColor
    }
    
    .MuiCircularProgress-circleStatic {
        transition: stroke-dashoffset .1s cubic-bezier(.4, 0, .2, 1) 0s
    }
    
    .MuiCircularProgress-circleIndeterminate {
        animation: MuiCircularProgress-keyframes-circular-dash 1s ease-in-out infinite;
        stroke-dasharray: 80px, 200px;
        stroke-dashoffset: 0
    }
    
    .MuiCircularProgress-circleDeterminate {
        transition: stroke-dashoffset .1s cubic-bezier(.4, 0, .2, 1) 0s
    }
    
    @keyframes MuiCircularProgress-keyframes-circular-rotate {
        0% {
            transform-origin: 50% 50%
        }
        100% {
            transform: rotate(360deg)
        }
    }
    
    @keyframes MuiCircularProgress-keyframes-circular-dash {
        0% {
            stroke-dasharray: 1px, 200px;
            stroke-dashoffset: 0
        }
        50% {
            stroke-dasharray: 100px, 200px;
            stroke-dashoffset: -15px
        }
        100% {
            stroke-dasharray: 100px, 200px;
            stroke-dashoffset: -125px
        }
    }
    
    .MuiCircularProgress-circleDisableShrink {
        animation: none
    }
    
    @keyframes loading_animation {
        0% {
            /* color: #4285f4; */
            color: rgb(var(--primary), .5)
        }
        25% {
            /* color: #ea4335; */
            color: rgb(var(--primary), .7)
        }
        50% {
            /* color: #f9bb2d; */
            color: rgb(var(--primary), .9)
        }
        75% {
            color: rgb(var(--primary))
        }
    }
    
    #loader {
        position: fixed;
        margin: 0% 50%;
        z-index: 9999999999 !important;
    }
    
    .modal-body::-webkit-scrollbar-track,
    .card-body::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0);
    }
    
    .modal-body::-webkit-scrollbar-track,
    .card-body::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: rgba(0, 0, 0, .0);
    }
    
    .modal-body::-webkit-scrollbar-track,
    .card-body::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .15);
    }
    
     ::-webkit-scrollbar-track,
     ::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: transparent !important;
    }
    
     ::-webkit-scrollbar-track,
     ::-webkit-scrollbar {
        width: 8px;
        height: 5px;
        background-color: rgba(0, 0, 0, 0);
    }
    
     ::-webkit-scrollbar-track,
     ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .15);
    }
    
    .bubble-span {
        padding: .5em 1.2em;
        /*padding-left: .5em;*/
        border-radius: 2em;
        background: rgb(26, 161, 95, .2);
        color: black;
        margin-right: .5em !important;
        margin-bottom: .5em !important;
        display: inline-block;
    }
    
    .form-control {
        padding: .6em;
        height: auto;
        border-radius: .3em !important;
        font-family: "Manrope", sans-serif !important;
        font-weight: bold !important;
    }
    
    .classroom_tab_div .nav-item.active {
        background: #EEF5F4;
        /*border-bottom: 5px solid #EEF5F4 !important;*/
    }
    
    .card-title {
        font-weight: bold;
        color: gray !important;
        border-bottom: thin solid #EBEDF2;
        padding-bottom: 1em;
    }
    
    .fc-widget-header th {
        padding: .2em !important;
    }
    
    .fc-content-skeleton td span.fc-day-number {
        font-size: 12px !important;
        font-weight: bold !important;
    }
    
    @media screen and (max-width: 768px) {
        .content-wrapper {
            padding: 1em;
            padding-top: 3em;
        }
        .navbar-nav.classroom_tab_div {
            background: white !important;
        }
        .main-panel .content-wrapper {
            padding: 1em !important;
        }
        .systemtitles {
            display: block !important;
        }
        nav.bg-white-mobile * {
            background: transparent !important;
        }
    }
    
    nav.bg-white-mobile {
        background: white;
    }
    
    .systemtitles {
        display: none;
    }
    
    .daterangepicker_input select {
        padding: .5em 1important;
    }
    
    .btn-primary:hover {
        box-shadow: 0 4px 10px 0 rgba(65, 132, 234, 0.3) !important;
        color: white !important;
        ;
    }
    
    .btn-info:hover {
        /*background: #31AED5 !important;*/
        box-shadow: 0 4px 10px 0 rgba(49, 175, 213, 0.3) !important;
        ;
        color: white !important;
        ;
    }
    
    .btn-success:hover {
        /*background: #169F85 !important;*/
        box-shadow: 0 4px 10px 0 rgba(23, 168, 108, 0.3) !important;
        color: white !important;
        ;
    }
    
    .btn-danger:hover {
        /*background: #F15E64 !important;*/
        box-shadow: 0 5px 10px rgba(242, 97, 103, .3) !important;
        color: white !important;
        ;
    }
    
    .btn-warning:hover {
        /*background: #EC971F;*/
        box-shadow: 0 5px 10px rgba(236, 151, 31, 0.3) !important;
        color: white !important;
        ;
    }
    
    .dt-buttons button {
        border: thin solid rgb(0, 0, 0, .1) !important;
        color: black !important;
        background-image: linear-gradient(to right, #fff, #fff);
    }
    
    .classes_grade .form-control {
        /*border: 0;*/
        font-weight: bold;
    }
    
    .classes_grade .form-control::placeholder {
        color: lightgray;
    }
    
    .modal {
        backdrop-filter: blur(3px);
        background: rgba(255, 255, 255, .05);
    }
    
    .cus-close {
        border: 0;
        font-size: 25px;
        float: right;
        margin-right: 1em;
        border-radius: 50%;
        /*padding: .3em .58em;*/
        transition: all .3s ease-in-out;
        opacity: .5;
    }
    
    .cus-close:hover {
        box-shadow: 0px 0px 25px rgba(221, 84, 72, 0.4);
        transform: translateY(-7px);
        transition: all .3s ease-in-out;
        opacity: 1;
    }
    
    .control-label {
        margin-top: .8em;
        font-weight: 500;
        color: gray;
        font-size: 14px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    }
    
    .form-check .form-check-label input[type="radio"]+.input-helper:after {
        -webkit-transition: all;
        transition: all;
        transition-duration: 0s;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;
        font-family: Material Design Icons;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        transform: scale(0);
        content: '\F12C';
        font-size: .9375rem;
        font-weight: bold;
        color: #ffffff;
    }
    
    .swal2-actions button {
        margin-right: .3em !important;
    }
    
    .dataTable .btn.btn-xs {
        padding: .4em;
        font-size: 13px;
    }
    
    .dataTable tr td {
        padding: .5em !important;
    }
    
    .form-dotted {
        border: 3px dotted #0BCEAF;
        border-radius: 1em;
        color: #0BCEAF
    }
    
    .clearance_mini div {
        width: 50px;
        height: 5px;
        border-radius: .3em;
        margin-right: .3em;
    }
    
    .clearance_mini .done {
        background: rgb(var(--primary));
    }
    
    .clearance_mini .pending {
        background: rgba(0, 0, 0, .1);
    }
    
    .jumbbox {
        animation: shake 150ms 2 linear;
        -moz-animation: shake 150ms 2 linear;
        -webkit-animation: shake 150ms 2 linear;
        -o-animation: shake 150ms 2 linear;
    }
    
    @keyframes shake {
        0% {
            transform: translate(5px, 0);
        }
        50% {
            transform: translate(-5px, 0);
        }
        100% {
            transform: translate(0, 0);
        }
    }
    /*
.progress .progress-bar{
	-webkit-animation-name: moveProgress;
  animation-name: moveProgress;
  -webkit-animation-duration: 3s;
  animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: rgba(215, 15, 100,.6) !important;
}
.progress .progress-bar::before{
	-webkit-animation-name: moveProgress;
  animation-name: moveProgress;
  -webkit-animation-duration: 3s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  content: '';
  height: 9px;
  width: calc(100% - 100px);
  position: absolute;
  z-index: 9;
  background: rgba(215, 15, 100,.3);
  border-radius: 15px;
}
.progress .progress-bar::after{
	-webkit-animation-name: moveProgress;
  animation-name: moveProgress;
  -webkit-animation-duration: 5s;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  content: '';
  height: 9px;
  width: calc(100% - 100px);
  position: absolute;
  background: rgba(215, 15, 100,.6);
  border-radius: 15px;
}
*/
    
    @keyframes moveProgress {
        0% {
            width: 0%;
            opacity: 1;
        }
        50% {
            opacity: .5;
        }
        100% {
            width: auto !important;
            opacity: .9;
        }
    }
    
    .input-helper::before {
        border-radius: 5px !important;
    }
    
    .cus-box {
        padding: .5em;
        border-radius: .3em;
    }
    
    .table-responsive::-webkit-scrollbar-track {
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.08);*/
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .05);
    }
    
    .table-responsive::-webkit-scrollbar {
        width: 9px;
        height: 9px;
        background-color: rgba(0, 0, 0, .05);
    }
    
    .table-responsive::-webkit-scrollbar-thumb {
        border-radius: 10px;
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.08);*/
        background-color: rgba(0, 0, 0, .15);
    }
    
    .table-responsive {
        overflow-y: hidden;
        height: auto;
        padding-bottom: 2em;
    }
    
    .dtr-control::before {
        /*transform: translateX(-2.5em);*/
        z-index: 99;
        background: #0CCDAF !important;
    }
    
    .scheds td {
        white-space: normal !important;
    }
    
    div.dt-button-collection .dropdown-menu a {
        border: 0;
        background: transparent;
    }
    
    div.dt-button-collection .dropdown-menu a.active {
        background: #1BCFB4 !important;
        box-shadow: 0 0 0 0 !important;
    }
    
    div.dt-button-collection .dropdown-menu a:hover {
        background: rgba(0, 0, 0, .1) !important;
        box-shadow: 0 0 0 0 !important;
        border: 0;
    }
    
    div.dt-button-collection {
        border: 0 !important;
        height: 100% !important;
        box-shadow: 0 0 0 0 !important;
    }
    
    td {
        white-space: normal !important;
    }
    
    .cus-modal {
        position: fixed;
        bottom: 0;
        left: 1em;
        transform: translateX(-500em);
    }
    
    .select2-search__field {
        padding: .5em !important;
        border-radius: .3em !important;
    }
    
    .form-checks {
        display: block;
        min-height: 1.5rem;
        padding-left: 1.5em;
        margin-bottom: .125rem
    }
    
    .form-checks .form-check-input {
        float: left;
        margin-left: -1.5em
    }
    
    .form-check-input {
        width: 1em;
        height: 1em;
        margin-top: .25em;
        vertical-align: top;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid rgba(0, 0, 0, .25);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-print-color-adjust: exact;
        color-adjust: exact
    }
    
    .form-check-input[type=checkbox] {
        border-radius: .25em
    }
    
    .form-check-input[type=radio] {
        border-radius: 50%
    }
    
    .form-check-input:active {
        filter: brightness(90%)
    }
    
    .form-check-input:focus {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
    }
    
    .form-switch .form-check-input::after {
        content: "" !important;
    }
    
    .form-check-input:checked {
        background-color: #0d6efd;
        border-color: #0d6efd
    }
    
    .form-check-input:checked[type=checkbox] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='6' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
        background-size: 70% !important;
    }
    
    .form-check-input:checked[type=radio] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e")
    }
    
    .form-check-input[type=checkbox]:indeterminate {
        background-color: #0d6efd;
        border-color: #0d6efd;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='6' d='M6 10h8'/%3e%3c/svg%3e");
        background-size: 70% !important;
    }
    
    .form-check-input:disabled {
        pointer-events: none;
        filter: none;
        opacity: .5
    }
    
    .form-check-input:disabled~.form-check-label,
    .form-check-input[disabled]~.form-check-label {
        opacity: .5
    }
    
    .form-switch {
        padding-left: 2.5em
    }
    
    .form-switch .form-check-input {
        width: 2em;
        margin-left: -2.5em;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
        background-position: left center;
        border-radius: 2em;
        transition: background-position .15s ease-in-out
    }
    
    @media (prefers-reduced-motion:reduce) {
        .form-switch .form-check-input {
            transition: none
        }
    }
    
    .form-switch .form-check-input:focus {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e")
    }
    
    .form-switch .form-check-input:checked {
        background-position: right center;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")
    }
    
    .form-check-inline {
        display: inline-block;
        margin-right: 1rem
    }
    
    .btn-check {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none
    }
    
    .btn-check:disabled+.btn,
    .btn-check[disabled]+.btn {
        pointer-events: none;
        filter: none;
        opacity: .65
    }
    
    .form-range {
        width: 100%;
        height: 1.5rem;
        padding: 0;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none
    }
    
    .form-range:focus {
        outline: 0
    }
    
    .form-range:focus::-webkit-slider-thumb {
        box-shadow: 0 0 0 1px #fff, 0 0 0 .25rem rgba(13, 110, 253, .25)
    }
    
    .form-range:focus::-moz-range-thumb {
        box-shadow: 0 0 0 1px #fff, 0 0 0 .25rem rgba(13, 110, 253, .25)
    }
    
    .form-range::-moz-focus-outer {
        border: 0
    }
    
    .form-range::-webkit-slider-thumb {
        width: 1rem;
        height: 1rem;
        margin-top: -.25rem;
        background-color: #0d6efd;
        border: 0;
        border-radius: 1rem;
        -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        -webkit-appearance: none;
        appearance: none
    }
    
    @media (prefers-reduced-motion:reduce) {
        .form-range::-webkit-slider-thumb {
            -webkit-transition: none;
            transition: none
        }
    }
    
    .form-range::-webkit-slider-thumb:active {
        background-color: #b6d4fe
    }
    
    .form-range::-webkit-slider-runnable-track {
        width: 100%;
        height: .5rem;
        color: transparent;
        cursor: pointer;
        background-color: #dee2e6;
        border-color: transparent;
        border-radius: 1rem
    }
    
    .form-range::-moz-range-thumb {
        width: 1rem;
        height: 1rem;
        background-color: #0d6efd;
        border: 0;
        border-radius: 1rem;
        -moz-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        -moz-appearance: none;
        appearance: none
    }
    
    @media (prefers-reduced-motion:reduce) {
        .form-range::-moz-range-thumb {
            -moz-transition: none;
            transition: none
        }
    }
    
    .form-range::-moz-range-thumb:active {
        background-color: #b6d4fe
    }
    
    .form-range::-moz-range-track {
        width: 100%;
        height: .5rem;
        color: transparent;
        cursor: pointer;
        background-color: #dee2e6;
        border-color: transparent;
        border-radius: 1rem
    }
    
    .form-range:disabled {
        pointer-events: none
    }
    
    .form-range:disabled::-webkit-slider-thumb {
        background-color: #adb5bd
    }
    
    .form-range:disabled::-moz-range-thumb {
        background-color: #adb5bd
    }
    
    .form-floating {
        position: relative
    }
    
    .form-floating>.form-control,
    .form-floating>.form-select {
        height: calc(3.5rem + 2px);
        line-height: 1.25
    }
    
    .form-floating>label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 1rem .75rem;
        pointer-events: none;
        border: 1px solid transparent;
        transform-origin: 0 0;
        transition: opacity .1s ease-in-out, transform .1s ease-in-out
    }
    
    @media (prefers-reduced-motion:reduce) {
        .form-floating>label {
            transition: none
        }
    }
    
    .form-floating>.form-control {
        padding: 1rem .75rem
    }
    
    .form-floating>.form-control::-moz-placeholder {
        color: transparent
    }
    
    .form-floating>.form-control::placeholder {
        color: transparent
    }
    
    .form-floating>.form-control:not(:-moz-placeholder-shown) {
        padding-top: 1.625rem;
        padding-bottom: .625rem
    }
    
    .form-floating>.form-control:focus,
    .form-floating>.form-control:not(:placeholder-shown) {
        padding-top: 1.625rem;
        padding-bottom: .625rem
    }
    
    .form-floating>.form-control:-webkit-autofill {
        padding-top: 1.625rem;
        padding-bottom: .625rem
    }
    
    .form-floating>.form-select {
        padding-top: 1.625rem;
        padding-bottom: .625rem
    }
    
    .form-floating>.form-control:not(:-moz-placeholder-shown)~label {
        opacity: .65;
        transform: scale(.85) translateY(-.5rem) translateX(.15rem)
    }
    
    .form-floating>.form-control:focus~label,
    .form-floating>.form-control:not(:placeholder-shown)~label,
    .form-floating>.form-select~label {
        opacity: .65;
        transform: scale(.85) translateY(-.5rem) translateX(.15rem)
    }
    
    .form-floating>.form-control:-webkit-autofill~label {
        opacity: .65;
        transform: scale(.85) translateY(-.5rem) translateX(.15rem)
    }
    
    .input-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%
    }
    
    .input-group>.form-control,
    .input-group>.form-select {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0
    }
    
    .input-group>.form-control:focus,
    .input-group>.form-select:focus {
        z-index: 3
    }
    
    .input-group .btn {
        position: relative;
        z-index: 2
    }
    
    .input-group .btn:focus {
        z-index: 3
    }
    
    .input-group-text {
        display: flex;
        align-items: center;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: .25rem
    }
    
    .input-group-lg>.btn,
    .input-group-lg>.form-control,
    .input-group-lg>.form-select,
    .input-group-lg>.input-group-text {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        border-radius: .3rem
    }
    
    .input-group-sm>.btn,
    .input-group-sm>.form-control,
    .input-group-sm>.form-select,
    .input-group-sm>.input-group-text {
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem
    }
    
    .input-group-lg>.form-select,
    .input-group-sm>.form-select {
        padding-right: 3rem
    }
    
    .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
    .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }
    
    .input-group.has-validation>.dropdown-toggle:nth-last-child(n+4),
    .input-group.has-validation>:nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }
    
    .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }
    
    .valid-feedback {
        display: none;
        width: 100%;
        margin-top: .25rem;
        font-size: .875em;
        color: #198754
    }
    
    .valid-tooltip {
        position: absolute;
        top: 100%;
        z-index: 5;
        display: none;
        max-width: 100%;
        padding: .25rem .5rem;
        margin-top: .1rem;
        font-size: .875rem;
        color: #fff;
        background-color: rgba(25, 135, 84, .9);
        border-radius: .25rem
    }
    
    .is-valid~.valid-feedback,
    .is-valid~.valid-tooltip,
    .was-validated :valid~.valid-feedback,
    .was-validated :valid~.valid-tooltip {
        display: block
    }
    
    .form-control.is-valid,
    .was-validated .form-control:valid {
        border-color: #198754;
        padding-right: calc(1.5em + .75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(.375em + .1875rem) center;
        background-size: calc(.75em + .375rem) calc(.75em + .375rem)
    }
    
    .form-control.is-valid:focus,
    .was-validated .form-control:valid:focus {
        border-color: #198754;
        box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .25)
    }
    
    .was-validated textarea.form-control:valid,
    textarea.form-control.is-valid {
        padding-right: calc(1.5em + .75rem);
        background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem)
    }
    
    .form-select.is-valid,
    .was-validated .form-select:valid {
        border-color: #198754
    }
    
    .form-select.is-valid:not([multiple]):not([size]),
    .form-select.is-valid:not([multiple])[size="1"],
    .was-validated .form-select:valid:not([multiple]):not([size]),
    .was-validated .form-select:valid:not([multiple])[size="1"] {
        padding-right: 4.125rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
        background-position: right .75rem center, center right 2.25rem;
        background-size: 16px 12px, calc(.75em + .375rem) calc(.75em + .375rem)
    }
    
    .form-select.is-valid:focus,
    .was-validated .form-select:valid:focus {
        border-color: #198754;
        box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .25)
    }
    
    .form-check-input.is-valid,
    .was-validated .form-check-input:valid {
        border-color: #198754
    }
    
    .form-check-input.is-valid:checked,
    .was-validated .form-check-input:valid:checked {
        background-color: #198754
    }
    
    .form-check-input.is-valid:focus,
    .was-validated .form-check-input:valid:focus {
        box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .25)
    }
    
    .form-check-input.is-valid~.form-check-label,
    .was-validated .form-check-input:valid~.form-check-label {
        color: #198754
    }
    
    .form-check-inline .form-check-input~.valid-feedback {
        margin-left: .5em
    }
    
    .input-group .form-control.is-valid,
    .input-group .form-select.is-valid,
    .was-validated .input-group .form-control:valid,
    .was-validated .input-group .form-select:valid {
        z-index: 1
    }
    
    .input-group .form-control.is-valid:focus,
    .input-group .form-select.is-valid:focus,
    .was-validated .input-group .form-control:valid:focus,
    .was-validated .input-group .form-select:valid:focus {
        z-index: 3
    }
    
    .invalid-feedback {
        display: none;
        width: 100%;
        margin-top: .25rem;
        font-size: .875em;
        color: #dc3545
    }
    
    .invalid-tooltip {
        position: absolute;
        top: 100%;
        z-index: 5;
        display: none;
        max-width: 100%;
        padding: .25rem .5rem;
        margin-top: .1rem;
        font-size: .875rem;
        color: #fff;
        background-color: rgba(220, 53, 69, .9);
        border-radius: .25rem
    }
    
    .is-invalid~.invalid-feedback,
    .is-invalid~.invalid-tooltip,
    .was-validated :invalid~.invalid-feedback,
    .was-validated :invalid~.invalid-tooltip {
        display: block
    }
    
    .form-control.is-invalid,
    .was-validated .form-control:invalid {
        border-color: #dc3545;
        padding-right: calc(1.5em + .75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(.375em + .1875rem) center;
        background-size: calc(.75em + .375rem) calc(.75em + .375rem)
    }
    
    .form-control.is-invalid:focus,
    .was-validated .form-control:invalid:focus {
        border-color: #dc3545;
        box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25)
    }
    
    .was-validated textarea.form-control:invalid,
    textarea.form-control.is-invalid {
        padding-right: calc(1.5em + .75rem);
        background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem)
    }
    
    .form-select.is-invalid,
    .was-validated .form-select:invalid {
        border-color: #dc3545
    }
    
    .form-select.is-invalid:not([multiple]):not([size]),
    .form-select.is-invalid:not([multiple])[size="1"],
    .was-validated .form-select:invalid:not([multiple]):not([size]),
    .was-validated .form-select:invalid:not([multiple])[size="1"] {
        padding-right: 4.125rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
        background-position: right .75rem center, center right 2.25rem;
        background-size: 16px 12px, calc(.75em + .375rem) calc(.75em + .375rem)
    }
    
    .form-select.is-invalid:focus,
    .was-validated .form-select:invalid:focus {
        border-color: #dc3545;
        box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25)
    }
    
    .form-check-input.is-invalid,
    .was-validated .form-check-input:invalid {
        border-color: #dc3545
    }
    
    .form-check-input.is-invalid:checked,
    .was-validated .form-check-input:invalid:checked {
        background-color: #dc3545
    }
    
    .form-check-input.is-invalid:focus,
    .was-validated .form-check-input:invalid:focus {
        box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25)
    }
    
    .form-check-input.is-invalid~.form-check-label,
    .was-validated .form-check-input:invalid~.form-check-label {
        color: #dc3545
    }
    
    .form-check-inline .form-check-input~.invalid-feedback {
        margin-left: .5em
    }
    
    .input-group .form-control.is-invalid,
    .input-group .form-select.is-invalid,
    .was-validated .input-group .form-control:invalid,
    .was-validated .input-group .form-select:invalid {
        z-index: 2
    }
    
    .form-checks .form-check-label {
        transform: translateY(3px);
    }
    
    .form-control {
        display: block;
        width: 100%;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
    }
    
    @media (prefers-reduced-motion:reduce) {
        .form-control {
            transition: none
        }
    }
    
    .form-control[type=file] {
        overflow: hidden
    }
    
    .form-control[type=file]:not(:disabled):not([readonly]) {
        cursor: pointer
    }
    
    .form-control:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
    }
    
    .form-control::-webkit-date-and-time-value {
        height: 1.5em
    }
    
    .form-control::-moz-placeholder {
        color: #6c757d;
        opacity: 1
    }
    
    .form-control::placeholder {
        color: #6c757d;
        opacity: 1
    }
    
    .form-control:disabled,
    .form-control[readonly] {
        background-color: #e9ecef;
        opacity: 1
    }
    
    .form-control::file-selector-button {
        padding: .375rem .75rem;
        margin: -.375rem -.75rem;
        -webkit-margin-end: .75rem;
        margin-inline-end: .75rem;
        color: #212529;
        background-color: #e9ecef;
        pointer-events: none;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        border-inline-end-width: 1px;
        border-radius: 0;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
    }
    
    @media (prefers-reduced-motion:reduce) {
        .form-control::file-selector-button {
            transition: none
        }
    }
    
    .form-control:hover:not(:disabled):not([readonly])::file-selector-button {
        background-color: #dde0e3
    }
    
    .form-control::-webkit-file-upload-button {
        padding: .375rem .75rem;
        margin: -.375rem -.75rem;
        -webkit-margin-end: .75rem;
        margin-inline-end: .75rem;
        color: #212529;
        background-color: #e9ecef;
        pointer-events: none;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        border-inline-end-width: 1px;
        border-radius: 0;
        -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
    }
    
    @media (prefers-reduced-motion:reduce) {
        .form-control::-webkit-file-upload-button {
            -webkit-transition: none;
            transition: none
        }
    }
    
    .form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
        background-color: #dde0e3
    }
    
    .form-control-plaintext {
        display: block;
        width: 100%;
        padding: .375rem 0;
        margin-bottom: 0;
        line-height: 1.5;
        color: #212529;
        background-color: transparent;
        border: solid transparent;
        border-width: 1px 0
    }
    
    .form-control-plaintext.form-control-lg,
    .form-control-plaintext.form-control-sm {
        padding-right: 0;
        padding-left: 0
    }
    
    .form-control-sm {
        min-height: calc(1.5em + (.5rem + 2px));
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem
    }
    
    .form-control-sm::file-selector-button {
        padding: .25rem .5rem;
        margin: -.25rem -.5rem;
        -webkit-margin-end: .5rem;
        margin-inline-end: .5rem
    }
    
    .form-control-sm::-webkit-file-upload-button {
        padding: .25rem .5rem;
        margin: -.25rem -.5rem;
        -webkit-margin-end: .5rem;
        margin-inline-end: .5rem
    }
    
    .form-control-lg {
        min-height: calc(1.5em + (1rem + 2px));
        padding: .5rem 1rem;
        font-size: 1.25rem;
        border-radius: .3rem
    }
    
    .form-control-lg::file-selector-button {
        padding: .5rem 1rem;
        margin: -.5rem -1rem;
        -webkit-margin-end: 1rem;
        margin-inline-end: 1rem
    }
    
    .form-control-lg::-webkit-file-upload-button {
        padding: .5rem 1rem;
        margin: -.5rem -1rem;
        -webkit-margin-end: 1rem;
        margin-inline-end: 1rem
    }
    
    textarea.form-control {
        min-height: calc(1.5em + (.75rem + 2px))
    }
    
    textarea.form-control-sm {
        min-height: calc(1.5em + (.5rem + 2px))
    }
    
    textarea.form-control-lg {
        min-height: calc(1.5em + (1rem + 2px))
    }
    
    .form-control-color {
        max-width: 3rem;
        height: auto;
        padding: .375rem
    }
    
    .form-control-color:not(:disabled):not([readonly]) {
        cursor: pointer
    }
    
    .form-control-color::-moz-color-swatch {
        height: 1.5em;
        border-radius: .25rem
    }
    
    .form-control-color::-webkit-color-swatch {
        height: 1.5em;
        border-radius: .25rem
    }
    
    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--multiple {
        background-color: #fff;
        border: 1px solid #EBEDF2 !important;
        border-radius: 0;
        min-height: 38px !important;
        /*height: 1% !important;*/
    }
    
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #73879C;
        /*padding-top: 5px*/
    }
    
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        padding-top: 3px
    }
    
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 36px
    }
    
    .select2-container--default .select2-selection--multiple .select2-selection__choice,
    .select2-container--default .select2-selection--multiple .select2-selection__clear {
        margin-top: 2px;
        border: none;
        border-radius: 0;
        padding: 3px 5px
    }
    
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: 1px solid #ccc
    }
    
    .select2-selection__choice {
        color: rgb(var(--primary)) !important;
        border: 1px solid #EBEDF2 !important;
        border-radius: .3em !important;
        padding: .2em 1em !important;
        background: rgb(var(--primary), .08) !important;
    }
    
    .select2-selection__choice__remove {
        transform: scale(1.4);
        margin-right: .5em !important;
        color: rgb(var(--primary)) !important;
    }
    /* CUSTOMIZE */
    
    .dataTables_filter input {
        background: #F5F8FA !important;
        padding: .6em !important;
        border: 0
    }
    
    .dataTables_length select {
        background: #F5F8FA !important;
        padding: .6em !important;
        border: 0 !important;
        ;
        box-shadow: 0 0 0 0 !important;
        width: 100px !important;
        ;
    }
    
    .form-control,
    select {
        background: #F5F8FA !important;
        padding: .7em !important;
        border: 0 !important;
        box-shadow: 0 0 0 0 !important;
    }
    
    .select2-selection {
        background: #F5F8FA !important;
        padding: .6em !important;
        border: 0 !important;
        box-shadow: 0 0 0 0 !important;
    }
    
    .card-title {
        font-weight: 500 !important;
    }
    
    .select2 {
        border: 0 !important;
    }
    
    .select2-selection__rendered {
        transform: translateY(-.6em) translateX(0em) !important;
        font-family: "Poppins", sans-serif !important;
        font-size: 13px !important;
        font-weight: 500;
    }
    
    .select2-container {
        border: 0 !important;
    }
    
    * {
        font-family: "Poppins", sans-serif !important;
        color: inherit;
    }
    
    .table td,
    .table,
    .table thead th {
        border: 0 !important;
    }
    
    .table thead th,
    .table thead tr th {
        background: #FAFBFC !important;
        border-radius: .3em !important;
        border-bottom: 0 !important;
        font-size: 15px !important;
        font-weight: 500 !important;
    }
    
    .table tbody td {
        color: gray !important;
        font-size: 15px !important;
    }
    
    .table td,
    .table thead th,
    .table thead tr th {
        border-bottom: 1px dotted rgb(0, 0, 0, .1) !important;
        color: gray !important;
    }
    
    .table {
        transform: translateY(1em) !important;
        padding-bottom: 2em !important;
    }
    
    .cusbadge {
        background: #F5F8FA;
        color: gray;
        padding: .4em 1em;
        border-radius: .5em;
        margin: .2em !important;
        display: inline-block !important;
        justify-content: space-between !important;
    }
    
    .cusbadge .cusbadge-secondary {
        background: #F5F8FA !important;
        color: gray !important;
    }
    
    .cusbadge .cusbadge-success {
        background: #1BCFB4 !important;
        color: gray !important;
    }
    
    .card {
        border-radius: .5em;
        border: 0 !important
    }
    
    .dataTables_paginate * {
        border: 0 !important
    }
    
    .dataTables_paginate .paginate_button.page-item.active a {
        border-radius: .5em !important;
        /*width: 35px !important;*/
        text-align: center !important
    }
    
    .dt-buttons {
        padding: 1em 0 !important;
    }
    
    .dt-buttons button {
        margin-right: .5em !important;
        border-radius: .2em !important;
        background: rgb(var(--primary), .1) !important;
        color: rgb(var(--primary)) !important;
        border: 0 !important;
        padding: .8em 1.2em !important;
        font-weight: 500 !important;
        cursor: pointer;
    }
    
    .dt-buttons button:hover {
        background: rgb(var(--primary)) !important;
        color: rgb(255, 255, 255) !important;
    }
    
    .cusbtn {
        background: rgb(210, 235, 251) !important;
        color: rgb(0, 158, 247) !important;
        border: 0 !important;
        padding: .5em 1em;
        border-radius: .3em;
        font-weight: 500 !important;
        margin: .2em !important;
        display: inline-block !important;
        justify-content: space-between !important;
        cursor: pointer;
    }
    
    .cusbtn:hover {
        background: rgb(0, 158, 247) !important;
        color: rgb(255, 255, 255) !important;
    }
    
    .dt-button-info {
        border: 0 !important;
        border-radius: .3em !important;
    }
    
    .swal2-actions button {
        margin-right: .5em !important;
        border-radius: .4em !important;
        border: 0 !important;
        padding: .7em 1.3em !important;
        font-weight: bold !important;
    }
    
    .swal2-actions .swal2-confirm {
        background: rgb(241, 250, 255) !important;
        color: rgb(0, 158, 247) !important;
    }
    
    .swal2-actions button::focus {
        outline: none !important;
    }
    
    .info {
        margin-bottom: 1em;
    }
    
    .info-label {
        font-weight: 600;
        font-size: 13px;
        transform: translateY(.8em);
    }
    
    .info>div {
        font-weight: 500;
        color: gray;
        font-size: 13px;
    }
    
    .nav .nav-item .nav-link.active {
        background: transparent;
        border: 0;
    }
    
    .nav .nav-item .nav-link {
        /* font-weight: 500; */
        font-size: 16px;
    }
    
    .nav .nav-item .nav-link:hover {
        border: 0;
    }
    
    .font-weight-bold {
        font-weight: 600 !important;
    }
    /* .btn {
        display: inline-block;
        font-weight: 400;
        color: #343a40;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.875rem 2.5rem;
        font-size: 0.875rem;
        line-height: 1;
        border-radius: 0.1875rem;
        -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    } */
    
    .btn {
        border: 0 !important;
        padding: .8em 1.5em;
        border-radius: .3em;
        font-weight: 500 !important;
    }
    /* .btn-primary {
        color: #fff;
        background-color: #0BCEAF;
        border-color: #0BCEAF;
    } */
    /* .btn-primary:focus,
    .btn-primary.focus {
        color: #fff;
        background-color: #a347ff;
        border-color: #9d3aff;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(193, 131, 255, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(193, 131, 255, 0.5);
    }
    
    .btn-primary.disabled,
    .btn-primary:disabled {
        color: #fff;
        background-color: #0BCEAF;
        border-color: #0BCEAF;
    }
    
    .btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show>.btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #9d3aff;
        border-color: #962dff;
    }
    
    .btn-primary:not(:disabled):not(.disabled):active:focus,
    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show>.btn-primary.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(193, 131, 255, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(193, 131, 255, 0.5);
    }
    
    .btn-secondary {
        color: #212529;
        background-color: #c3bdbd;
        border-color: #c3bdbd;
    }
    
    .btn-secondary:hover {
        color: #212529;
        background-color: #b1a9a9;
        border-color: #aba2a2;
    }
    
    .btn-secondary:focus,
    .btn-secondary.focus {
        color: #212529;
        background-color: #b1a9a9;
        border-color: #aba2a2;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(171, 166, 167, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(171, 166, 167, 0.5);
    }
    
    .btn-secondary.disabled,
    .btn-secondary:disabled {
        color: #212529;
        background-color: #c3bdbd;
        border-color: #c3bdbd;
    }
    
    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show>.btn-secondary.dropdown-toggle {
        color: #212529;
        background-color: #aba2a2;
        border-color: #a59c9c;
    }
    
    .btn-secondary:not(:disabled):not(.disabled):active:focus,
    .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .show>.btn-secondary.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(171, 166, 167, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(171, 166, 167, 0.5);
    }
    
    .btn-success {
        background: rgb(209, 245, 240) !important;
        color: rgb(27, 207, 180) !important;
    }
    
    .btn-success:hover {
        background: rgb(27, 207, 180) !important;
        color: rgb(255, 255, 255) !important;
    }
    
    .btn-success.disabled,
    .btn-success:disabled {
        opacity: .4;
    }
    
    .btn-success:not(:disabled):not(.disabled):active,
    .btn-success:not(:disabled):not(.disabled).active,
    .show>.btn-success.dropdown-toggle {
        color: #fff;
        background-color: #15a28d;
        border-color: #149783;
    }
    
    .btn-success:not(:disabled):not(.disabled):active:focus,
    .btn-success:not(:disabled):not(.disabled).active:focus,
    .show>.btn-success.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(28, 182, 159, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(28, 182, 159, 0.5);
    }
    
    .btn-info {
        background: rgb(241, 250, 255) !important;
        color: rgb(0, 158, 247) !important;
    }
    
    .btn-info:hover {
        background: rgb(0, 158, 247) !important;
        color: rgb(255, 255, 255) !important;
    }
    
    .btn-info.disabled,
    .btn-info:disabled {
        opacity: .4;
    }
    
    .btn-info:not(:disabled):not(.disabled):active,
    .btn-info:not(:disabled):not(.disabled).active,
    .show>.btn-info.dropdown-toggle {
        color: #fff;
        background-color: #146eb5;
        border-color: #1367aa;
    }
    
    .btn-info:not(:disabled):not(.disabled):active:focus,
    .btn-info:not(:disabled):not(.disabled).active:focus,
    .show>.btn-info.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(60, 156, 231, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(60, 156, 231, 0.5);
    }
    
    .btn-warning {
        background: rgb(255, 247, 208) !important;
        color: rgb(254, 215, 19) !important;
    }
    
    .btn-warning:hover {
        background: rgb(254, 215, 19) !important;
        color: rgb(255, 255, 255) !important;
    }
    
    .btn-warning.disabled,
    .btn-warning:disabled {
        opacity: .4;
    }
    
    .btn-warning:not(:disabled):not(.disabled):active:focus,
    .btn-warning:not(:disabled):not(.disabled).active:focus,
    .show>.btn-warning.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(221, 188, 22, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(221, 188, 22, 0.5);
    }
    
    .btn-danger {
        background: rgb(255, 229, 234) !important;
        color: rgb(254, 124, 150) !important;
    }
    
    .btn-danger:hover {
        background: rgb(254, 124, 150) !important;
        color: rgb(255, 255, 255) !important;
    }
    
    .btn-danger.disabled,
    .btn-danger:disabled {
        opacity: .4;
    }
    
    .btn-danger:not(:disabled):not(.disabled):active,
    .btn-danger:not(:disabled):not(.disabled).active,
    .show>.btn-danger.dropdown-toggle {
        color: #fff;
        background-color: #fe496d;
        border-color: #fe3d63;
    }
    
    .btn-danger:not(:disabled):not(.disabled):active:focus,
    .btn-danger:not(:disabled):not(.disabled).active:focus,
    .show>.btn-danger.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(221, 111, 134, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(221, 111, 134, 0.5);
    }
    
    .btn-dark {
        color: #fff;
        background-color: #3e4b5b;
        border-color: #3e4b5b;
    }
    
    .btn-dark:hover {
        color: #fff;
        background-color: #2f3844;
        border-color: #29323d;
    }
    
    .btn-dark:focus,
    .btn-dark.focus {
        color: #fff;
        background-color: #2f3844;
        border-color: #29323d;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(91, 102, 116, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(91, 102, 116, 0.5);
    }
    
    .btn-dark.disabled,
    .btn-dark:disabled {
        color: #fff;
        background-color: #3e4b5b;
        border-color: #3e4b5b;
    }
    
    .btn-dark:not(:disabled):not(.disabled):active,
    .btn-dark:not(:disabled):not(.disabled).active,
    .show>.btn-dark.dropdown-toggle {
        color: #fff;
        background-color: #29323d;
        border-color: #242c35;
    }
    
    .btn-dark:not(:disabled):not(.disabled):active:focus,
    .btn-dark:not(:disabled):not(.disabled).active:focus,
    .show>.btn-dark.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(91, 102, 116, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(91, 102, 116, 0.5);
    } */
    
    .image--check ul {
        list-style-type: none;
    }
    
    .image--check li {
        display: inline-block;
    }
    
    .image--check input[type="radio"][id^="myCheckbox-"] {
        display: none;
    }
    
    .image--check label {
        border: 1px solid #fff;
        padding: 10px;
        display: block;
        position: relative;
        margin: 10px;
        cursor: pointer;
    }
    
    .image--check label:before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }
    
    .image--check label img {
        height: 100px;
        width: 100px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
    }
    
    .image--check input:checked+label {
        border-color: #ddd;
    }
    
    .image--check input:checked+label:before {
        content: "✓";
        background-color: grey;
        transform: scale(1);
    }
    
    .image--check label .color {
        padding: 1em;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    /*.image--check input:checked + label .color {
  color
  z-index: -1;
}*/
    
    div.form {
        border-color: rgb(var(--primary), .2) !important;
    }
    
    div.table thead tr th::before {
        border: 0 !important;
    }
    
    div.table thead tr th {
        background: pink !important;
    }
    
    .ocrloader {
        width: 94px;
        height: 77px;
        position: absolute;
        transform: translateY(-3em) translateX(-2.5em) scale(2.5);
        left: 50%;
        top: 50%;
        /*transform: translate(-50%, -50%);*/
        backface-visibility: hidden;
        display: none;
    }
    
    .ocrloader span {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 20px;
        background-color: rgba(25, 138, 227, 0.54);
        z-index: 1;
        transform: translateY(135%);
        animation: move 0.7s cubic-bezier(0.15, 0.44, 0.76, 0.64);
        animation-iteration-count: infinite;
    }
    
    .ocrloader>div {
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 48%;
        backface-visibility: hidden;
    }
    
    .ocrloader i {
        display: block;
        height: 1px;
        background: #198AE3;
        margin: 0 auto 2px;
        margin: 0 auto 2.2px;
        backface-visibility: hidden;
        /*opacity: 0;*/
    }
    
    .ocrloader i:nth-child(2) {
        width: 75%;
    }
    
    .ocrloader i:nth-child(3) {
        width: 81%;
    }
    
    .ocrloader i:nth-child(4) {
        width: 87%;
    }
    
    .ocrloader i:nth-child(6) {
        width: 71%;
    }
    
    .ocrloader i:nth-child(7) {
        width: 81%;
    }
    
    .ocrloader i:nth-child(8) {
        width: 65%;
    }
    
    .ocrloader i:nth-child(9) {
        width: 83%;
    }
    
    .ocrloader i:nth-child(10) {
        width: 75%;
    }
    
    .ocrloader i:nth-child(12) {
        width: 86%;
    }
    
    .ocrloader i:nth-child(14) {
        width: 65%;
    }
    
    .ocrloader i:nth-child(16) {
        width: 75%;
    }
    
    .ocrloader i:nth-child(18) {
        width: 83%;
    }
    
    .ocrloader:before,
    .ocrloader:after,
    .ocrloader em:after,
    .ocrloader em:before {
        border-color: #198AE3;
        content: "";
        position: absolute;
        width: 19px;
        height: 16px;
        border-style: solid;
        border-width: 0px;
    }
    
    .ocrloader:before {
        left: 0;
        top: 0;
        border-left-width: 1px;
        border-top-width: 1px;
    }
    
    .ocrloader:after {
        right: 0;
        top: 0;
        border-right-width: 1px;
        border-top-width: 1px;
    }
    
    .ocrloader em:before {
        left: 0;
        bottom: 0;
        border-left-width: 1px;
        border-bottom-width: 1px;
    }
    
    .ocrloader em:after {
        right: 0;
        bottom: 0;
        border-right-width: 1px;
        border-bottom-width: 1px;
    }
    
    @keyframes move {
        0%,
        100% {
            transform: translateY(135%);
        }
        50% {
            transform: translateY(0%);
        }
        75% {
            transform: translateY(272%);
        }
    }