:root {
    --sw: 400px;
    --sh: 70px;
    --fs: 1.1em;
    --i1: 24px;
    --i2: 18px;
    --t: 14px;
    --l: 10px;
    --mt: 8px;
    --bg-primary: rgb(208, 1, 73);
    --bg-primary-50: rgba(254, 124, 150);
    /* --body: rgb(21, 21, 33); */
    --body: rgb(21, 25, 42);
    /* --sidebar: rgb(30, 30, 45); */
    --sidebar: rgb(31, 38, 60);
    --text: rgb(205, 205, 222);
    /* --text: rgb(249, 249, 250); */
    /* --input: rgb(27, 27, 41); */
    --input: rgb(21, 25, 42);
    --active: rgb(54, 153, 255);
    --borders: rgb(30, 42, 63);
}
.tableImg {
  background: rgba(20, 143, 247,.08);
}

.footer{
    background: var(--sidebar) !important;
}

.content-wrapper {
    background: var(--body) !important;
}

.sidebar,
.navbar-menu-wrapper,
.card,
footer,
.navbar-brand-wrapper,
.navbar {
    background: var(--sidebar) !important;
}

.sidebar *,
.page-title {
    color: var(--text) !important;
}

.profile-card__img {
    box-shadow: 0px 0px 0px 8px var(--active), 0px 0px 0px 20px var(--body) !important;
}


/* body * {
    color: var(--text) !important;
    border-color: var(--body) !important;
} */

* {
    border-color: var(--borders) !important;
    color: var(--text) !important;
}

[class*="border-"],
.form {
    border-color: var(--borders) !important;
    /* border-style: dotted; */
}

footer {
    border-top: 0 !important;
}

.form-control,
select,
input,
.card input,
.card select {
    background: var(--input) !important;
    border: 0 !important;
    border-color: var(--borders) !important;
    outline: 0 !important;
    color: var(--text) !important;
}

.select2-selection__rendered {
    color: var(--text) !important;
}

table td {
    background: var(--sidebar) !important;
    border-radius: 0 !important;
}

div .table thead tr th,
table tr th,
.dataTable thead tr th {
    /* padding: 1.3em !important; */
    background: var(--body) !important;
    border-radius: 0 !important;
}

.dataTable thead tr th {
    /* padding: 1.3em !important; */
}

.dataTable thead th:first-child {
    /* border-top-left-radius: .3em !important; */
    /* border-bottom-left-radius: .3em !important; */
}

.dataTable thead th:last-child {
    /* border-top-right-radius: .3em !important; */
    /* border-bottom-right-radius: .3em !important; */
}

.toastrWrap {
    background: var(--body) !important;
    color: var(--active) !important;
}

.card-title,
hr {
    border-color: var(--borders) !important;
}

.nav-item.active {
    background: var(--body) !important;
    border-color: rgb(98, 99, 114) !important;
}

.tab-content .navbar-nav .nav-item {
    background: transparent !important;
    border: 0 !important;
    border-bottom: 6px solid var(--body) !important;
}

.tab-content .navbar-nav .nav-item a.nav-link.active {
    color: var(--active) !important;
}

.sidebar .nav-item:hover {
    background: var(--body) !important;
}

.sidebar .nav-item .nav-link:hover {
    color: var(--active) !important;
}

/*input[type="checkbox"]:checked::after {
    content: "\2713";
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    transform: translateX(5px);
    color: white !important;
}*/
.form-switch input{
    background: transparent;
}

input[type="checkbox"]::after {
    font-family: Material Design Icons;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    transform: scale(0);
    content: '\F12C';
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    transform: translateX(5px);
    color: rgb(31, 38, 60) !important;
    transition: all .3s ease-in-out;
}
input[type="checkbox"]:checked::after {
    font-family: Material Design Icons;
    opacity: 1;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    transform: scale(1);
    content: '\F12C';
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    transform: translateX(5px) translateY(-2px);
    color: white !important;
    transition: all .3s ease-in-out;
}

.form-switch input[type="checkbox"]::after {
    font-family: Material Design Icons;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    transform: scale(1);
    content: '\F15C';
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    transform: translateX(5px) translateY(5px);
    color: rgb(31, 38, 60) !important;
    transition: all .3s ease-in-out;
}
.form-switch input[type="checkbox"]:checked::after {
    font-family: Material Design Icons;
    opacity: 1;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    transform: scale(1);
    content: '\F15C';
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    transform: translateX(25px) translateY(5px);
    color: white !important;
    transition: all .3s ease-in-out;
}



input:checked {
    background: rgb(54, 153, 255) !important;
}

.form-switch input[type="radio"]::after {
    font-family: Material Design Icons;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    transform: scale(0);
    content: '\F15C';
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    transform: translateX(5px);
    color: rgb(31, 38, 60) !important;
    transition: all .3s ease-in-out;
}
.form-switch input[type="radio"]:checked::after {
    font-family: Material Design Icons;
    opacity: 1;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    transform: scale(1);
    content: '\F15C';
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    transform: translateX(5px) translateY(6px);
    color: white !important;
    transition: all .3s ease-in-out;
}

input[type="checkbox"]::after {
    content: "";
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    transform: scale(0) !important;
    color: transparent !important;
}
input[type="checkbox"]:checked::after {
    font-family: Material Design Icons;
    content: "\F12C";
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    opacity: 1 !important;;
    transform: translateY(4px) translateX(4px) scale(1) !important;;
    color: white !important;
}
table input[type="checkbox"]::after{
    content: "";
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    transform: scale(0) !important;
    color: transparent !important;
}
table input[type="checkbox"]:checked::after{
    font-family: Material Design Icons;
    content: "\F12C";
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    opacity: 1 !important;;
    transform: translateY(2px) translateX(4px) scale(1) !important;;
    color: white !important;
}


/*table input:checked {
    background: rgb(54, 153, 255) !important;
}*/

.cusbadge,
.btn,
.dt-buttons button,
.badge {
    background: rgb(27, 27, 41) !important;
    color: var(--text) !important;
}


/* .btn-success:hover {
    background: rgb(11, 206, 175, .4) !important;
    box-shadow: 0 0 0 0 !important;
} */

.dt-buttons button:hover,
.btn-icon:hover {
    background: rgb(29, 83, 141) !important;
    color: var(--active) !important;
    box-shadow: 0 0 0 0 !important;
}

.select2-dropdown,
.select2-selection {
    background: var(--input) !important;
    color: var(--text) !important;
}

select * {
    background: var(--input) !important;
    color: var(--text) !important;
}

.select2-dropdown {
    border: 0 !important
}

.select2-search__field {
    background: var(--sidebar) !important;
}

.pagination .paginate_button * {
    background: var(--sidebar) !important;
}

.pagination li.paginate_button.page-item.active a {
    border: thin solid #0BCEAF;
    background: var(--body) !important;
}

.modal-content,
.swal2-popup,
.dropdown-menu {
    background: var(--sidebar) !important;
    border-color: var(--sidebar) !important;
    color: var(--text) !important;
}

.dropdown-menu * {
    color: var(--text) !important;
}

.dropdown-menu .dropdown-item:hover {
    background: var(--body) !important;
    color: var(--text) !important;
}

.swal2-popup button {
    padding: .5em 1em !important;
    background: rgb(27, 27, 41) !important;
    color: var(--text) !important;
}

.page-title-icon {
    background: var(--sidebar) !important;
    box-shadow: 0 0 0 0 !important;
}

.navbar-brand {
    color: var(--text) !important;
}


/* 
.btn {
    padding: .5em !important;
} */

.bg-transparent {
    background: transparent !important;
    color: white !important;
}

.timeline-label * {
    color: var(--text) !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(44, 99, 163);
}

.text-black {
    color: var(--text) !important;
}

tr td.fc-day-top.fc-other-month.fc-future * {
    background: rgb(30, 30, 45) !important;
}

.fc-view-container td,
.fc-view-container th,
.fc-view-container {
    border: 0 !important;
    color: var(--text) !important;
    background: rgb(30, 30, 45) !important;
}


/* .content-wrapper {
    padding-left: 7em !important;
    padding-right: 7em !important;
} */

.daterangepicker,
.calendar-table {
    background: var(--input) !important;
}

div.calendar-table tr td.in-range {
    background: rgb(30, 30, 45) !important;
    border-radius: 0 !important;
    color: rgb(54, 153, 255) !important;
}

div.calendar-table tr td.start-date {
    background: rgb(54, 153, 255) !important;
    color: white !important;
    border-radius: 0 !important;
    border-top-left-radius: .5em !important;
    border-bottom-left-radius: .5em !important;
}

div.calendar-table tr td.end-date {
    background: rgb(54, 153, 255) !important;
    color: white !important;
    border-radius: 0 !important;
    border-top-right-radius: .5em !important;
    border-bottom-right-radius: .5em !important;
}

.dt-button-info * {
    background: var(--input) !important;
}

.nav-item.active * {
    color: var(--active) !important;
}

.nav-item.active {
    border-color: var(--active) !important;
}

.input-helper::before {
    border-color: var(--active) !important;
}

.input-helper::after {
    background: var(--active) !important;
    border-radius: .3em;
    transform: scale(1.3) !important;
}

.calendar-table * {
    border-color: var(--sidebar) !important;
}

.calendar-table tr th .prev {
    color: var(--text) !important;
    border-color: var(--text) !important;
}

input[data-day]::before {
    content: attr(data-day);
    color: white !important;
    margin-left: 1em;
}


 .bg-loader {
    background: var(--body) !important;
} 

tr td.fc-other-month.fc-future * {
    background: rgb(0, 0, 0) !important;
    filter: var(0) !important;
}

.bounce1,
.bounce2,
.bounce3 {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgb(54, 153, 255, .4);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: spreadout 2.7s infinite ease-in-out;
    animation: spreadout 2.7s infinite ease-in-out;
}

.bounce2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.bounce3 {
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
}

.loader .logo img {
    width: 100%;
    z-index: 5;
    opacity: 0;
}

@-webkit-keyframes spreadout {
    0% {
        -webkit-transform: scale(0.3);
    }
    80% {
        -webkit-transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}

@keyframes spreadout {
    0% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}