@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700,900");
.form-tab .search-btn, .form-tab .search-field .search-placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --sw: 400px;
  --sh: 70px;
  --fs: 1.1em;
  --i1: 24px;
  --i2: 18px;
  --t: 14px;
  --l: 10px;
  --mt: 8px;
  --bg-primary: rgb(208, 1, 73);
  --bg-primary-50: rgba(254, 124, 150);
}


@media only screen and (max-width: 420px) {
  :root {
    --sw: 320px;
    --fs: .9em;
    --sh: 60px;
    --i1: 20px;
    --i2: 14px;
    --t: 12px;
    --l: 12px;
    --mt: 3px;
  }
}

.ul .li, .ul-title, .resoult-tab, .form-tab .search-btn, .form-container .form-tab, .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  width: var(--sw);
  height: calc(calc(var(--sh) * 2) + 10px);
  background: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-container {
  width: var(--sw);
  height: var(--sh);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 30px -10px #d5dbed;
  margin-bottom: 10px;
}
.form-container .form-tab {
  width: 100%;
  height: calc(var(--sh) - 20px);
}

.form-tab .search-field {
  width: 90%;
  height: calc(var(--sh) - 20px);
  background: transparent;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  background: #eff4ff;
}
.form-tab .search-field .search-icon {
  position: absolute;
  top: var(--t);
  left: var(--l);
  z-index: 1;
  color: #6e80a5;
  opacity: 0.8;
  width: var(--i1);
  height: var(--i1);
}
.form-tab .search-field .search-placeholder {
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 1;
  color: #6e80a5;
  opacity: 0.8;
  font-size: calc(var( --fs) / 1.1);
  transform: translateY(15px) translateX(10px);
}
.form-tab .search-field form {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
}
.form-tab .search-field form .text-field {
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: var(--fs);
  color: #3f3f3f;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 5px 5px 5px 40px;
  caret-color: #79a6ff;
  line-height: 2em;
}
.form-tab .search-btn {
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: calc(var(--fs) / 1.2);
  width: 25%;
  height: 40px;
  background: transparent;
  margin-top: 2px;
  transform: translateY(8px);
}
.form-tab .search-btn p {
  cursor: pointer;
  color: #222;
}

.resoult-tab {
  justify-content: flex-start;
  flex-direction: column;
  width: var(--sw);
  height: 0px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 30px -10px #d5dbed;
  overflow: hidden;
  transition: height 359ms cubic-bezier(0.27, 0.7, 0, 0.99);
}

.resoult-tab-active {
  height: calc(calc(var(--sh) / 2) * 4);
  transition: height 399ms cubic-bezier(0.27, 0.7, 0, 0.99);
}

.ul-title {
  justify-content: flex-start;
  margin-top: var(--mt);
  width: 90%;
  height: 35px;
  background: transparent;
  opacity: 0;
}
.ul-title p {
  text-transform: uppercase;
  font-size: calc(var(--fs) / 1.7);
  color: #222;
  opacity: 0.4;
}

.ul {
  width: 100%;
  height: auto;
  background: transparent;
  position: relative;
  border-radius: 6px;
}
.ul .li {
  box-sizing: border-box;
  padding: 0 5%;
  justify-content: flex-start;
  width: 100%;
  height: calc(var(--sh) / 2.5);
  position: relative;
  overflow: hidden;
  background: rgba(20, 98, 255, 0);
  transition: background 399ms ease;
}
.ul .li:hover {
  background: rgba(20, 98, 255, 0.1);
  transition: background 299ms ease;
}
.ul .li .li-icon {
  margin-right: 8px;
}
.ul .li .li-icon .icon {
  transform: translatey(2px);
  color: #1462ff;
  width: var(--i2);
  height: var(--i2);
}
.ul .li .li-text {
  font-size: calc(var(--fs) / 1.3);
  color: #222;
  opacity: 0.8;
  cursor: pointer;
}

.li-active {
  animation: displayList 699ms cubic-bezier(0.6, 0.18, 0.5, 0.99) forwards;
  transform: translatey(40px);
  opacity: 0;
}

.li-1 {
  animation-delay: 99.5ms;
}

.li-2 {
  animation-delay: 199ms;
}

.li-3 {
  animation-delay: 298.5ms;
}

@keyframes displayList {
  0% {
    opacity: 0;
    transform: translatey(40px);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translatey(0px);
  }
}

.stepper__list__title span{
  display: inline-block;
  width: 230px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  justify-content:flex-end;
}


.menu-title{
  text-transform: uppercase;
}
.QR-label{
  font-weight: bold;
  font-size: 13px;
}

.nav .nav-item  *.active, .nav .nav-item.active span,.nav .nav-item.active i{
  color: var(--bg-primary) !important; 
  font-weight: bold;
}


.red-theme,.bg-primary,.btn-primary{
  background: var(--bg-primary) !important;
  border: 0;
  color: white !important;
}

.pagination li.paginate_button.page-item.active a{
  background: var(--bg-primary-50) !important;
  border: 1px solid var(--bg-primary-50);
}

.navbar.red-theme{
  border-bottom: 5px solid var(--bg-primary-50) !important;
  color: white !important;
}

.border-bottom-red{
  border-bottom: 5px solid var(--bg-primary) !important;
}

.border-red{
  border: 5px solid var(--bg-primary) !important;
}

.border-top-red{
  border-top: 5px solid var(--bg-primary) !important;
}

.navbar-brand div{
  padding: 0;
  display: block;
  transform: translateY(10px);
}

.navbar-brand small{
  font-size: 40px;
  padding: 0;
  display: block;
  font-family: 'Mistral' !important;
  transform: translateY(-10px);
}

textarea.form-control{
  font-weight: bold;
  font-family: 'Arial';
}

.tracking-detail {
  padding: 3rem 0;
  transform: translateX(-4em);
}
#tracking {
  margin-bottom: 1rem;
}
[class*="tracking-status-"] p {
  margin: 0;
  font-size: 1.1rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
[class*="tracking-status-"] {
  padding: 1.6rem 0;
}

.tracking-list{
  transform: translateX(-5em) translateY(3em);
}

#options{
  width: 0;
  transition: all .3s ease-in-out;
}
#options.show{
  width: 40%;
  transition: all .3s ease-in-out;
}


.tracking-item {
  border-left: 4px solid var(--bg-primary-50);
  position: relative;
  padding: 2rem 1.5rem 0.5rem 2.5rem;
  font-size: 0.9rem;
  margin-left: 3rem;
  min-height: 5rem;
}

.tracking-item:last-child{
  border-left: 4px solid var(--bg-primary-50);
  position: relative;
  padding: 2rem 1.5rem 0.5rem 2.5rem;
  font-size: 0.9rem;
  margin-left: 10rem;
  height:0rem !important;
}

.tracking-item:last-child {
  padding-bottom: 4rem;
}
.tracking-item .tracking-date {
  margin-bottom: 0.5rem;
}
.tracking-item .tracking-date span {
  color: #888;
  font-size: 85%;
  padding-left: 0.4rem;
}
.tracking-item .tracking-content {
  padding: 0.5rem 0.8rem;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
}
.tracking-item .tracking-content span {
  display: block;
  color: #767676;
  font-size: 13px;
}
.tracking-item .tracking-icon {
  position: absolute;
  left: -0.7rem;
  width: 1.1rem;
  height: 1.1rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.1rem;
  background-color: #fff;
  color: #fff;
}

.tracking-item .tracking-icon svg path{
  fill:var(--bg-primary-50);
}

.tracking-item-pending{
  border-left: 4px solid #d6d6d6;
  position: relative;
  padding: 2rem 1.5rem 0.5rem 2.5rem;
  font-size: 0.9rem;
  margin-left: 3rem;
  min-height: 5rem;
}
.tracking-item-pending:last-child {
  padding-bottom: 4rem;
}
.tracking-item-pending .tracking-date {
  margin-bottom: 0.5rem;
}
.tracking-item-pending .tracking-date span {
  color: #888;
  font-size: 85%;
  padding-left: 0.4rem;
}
.tracking-item-pending .tracking-content {
  padding: 0.5rem 0.8rem;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
}
.tracking-item-pending .tracking-content span {
  display: block;
  color: #767676;
  font-size: 13px;
}
.tracking-item-pending .tracking-icon {
  line-height: 2.6rem;
  position: absolute;
  left: -0.7rem;
  width: 1.1rem;
  height: 1.1rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.1rem;
  color: #d6d6d6;
}
.tracking-item-pending .tracking-content {
  font-weight: 600;
  font-size: 17px;
}

.tracking-item .tracking-icon.status-current {
  width: 1.9rem;
  height: 1.9rem;
  left: -1.1rem;
}
.tracking-item .tracking-icon.status-intransit {
  color: #00ba0d;
  font-size: 0.6rem;
}
.tracking-item .tracking-icon.status-current {
  color: #00ba0d;
  font-size: 0.6rem;
}
@media (min-width: 992px) {
  .tracking-item {
    margin-left: 10rem;
  }
  .tracking-item .tracking-date {
    position: absolute;
    left: -10rem;
    /*width: 7.5rem;*/
    text-align: right;
  }
  .tracking-item .tracking-date span {
    display: block;
  }
  .tracking-item .tracking-content {
    padding: 0;
    background-color: transparent;
  }

  .tracking-item-pending {
    margin-left: 10rem;
  }
  .tracking-item-pending .tracking-date {
    position: absolute;
    left: -10rem;
    width: 7.5rem;
    text-align: right;
  }
  .tracking-item-pending .tracking-date span {
    display: block;
  }
  .tracking-item-pending .tracking-content {
    padding: 0;
    background-color: transparent;
  }
}

.tracking-item .tracking-content {
  font-weight: 600;
  font-size: 17px;
}

.blinker {
  border: 7px solid #e9f8ea;
  animation: blink 1s;
  animation-iteration-count: infinite;
}
@keyframes blink { 50% { border-color:var(--bg-primary-50) ; }  }






/*.main-timeline {
  font-family: verdana;
  position: relative;
}

.main-timeline:after {
  content: "";
  display: block;
  clear: both;
}

.main-timeline .timeline {
  width: 50%;
  margin: 0 0 20px 20px;
  float: right;
}

.main-timeline .timeline-content {
  color: #000;
  background: radial-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5),
    transparent
  );
  text-align: center;
  min-height: 125px;
  padding: 30px 20px 30px 45px;
  border-radius: 15px;
  border: 2px solid #E1E1E1;
  display: block;
  position: relative;
}

.main-timeline .timeline-content:hover {
  text-decoration: none;
}

.main-timeline .timeline-icon {
  color: #fff;
  background-color: #ffff;
  font-size: 37px;
  line-height: 65px;
  height: 75px;
  width: 75px;
  border: 6px solid #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: -38px;
  top: 50%;
}

.main-timeline .timeline-icon:before,
.main-timeline .timeline-icon:after {
  content: "";
  background-color: #fff;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -12px;
}

.main-timeline .timeline-icon:after {
  top: calc(100% + 6px);
}

.main-timeline .title {
  color: #ff4f00;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 5px;
}

.main-timeline .description {
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0;
}

.main-timeline .timeline:nth-child(even) {
  float: left;
  margin: 0 20px 20px 0;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
  padding: 30px 45px 30px 20px;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
  right: -39px;
  left: auto;
}

.main-timeline .timeline:nth-child(4n + 2) .timeline-icon {
  background-color: #fff;
}
.main-timeline .timeline:nth-child(4n + 2) .title {
  color: #953fbe;
}

.main-timeline .timeline:nth-child(4n + 3) .timeline-icon {
  background-color: #fff;
}
.main-timeline .timeline:nth-child(4n + 3) .title {
  color: #00b29c;
}

.main-timeline .timeline:nth-child(4n + 4) .timeline-icon {
  background-color: #fff;
}
.main-timeline .timeline:nth-child(4n + 4) .title {
  color: #02affe;
}

@media screen and (max-width: 767px) {
  .main-timeline .timeline {
    width: 100%;
    padding-top: 40px;
  }

  .main-timeline .timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 45px 20px 20px;
  }

  .main-timeline .timeline .timeline-icon,
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    font-size: 28px;
    left: 50%;
    top: -39px;
    right: auto;
    transform: translateY(0) translateX(-50%);
  }

  .main-timeline .timeline .timeline-icon:before,
  .main-timeline .timeline .timeline-icon:after {
    top: 50%;
    left: -12px;
    transform: translateY(-50%) translateX(0);
  }

  .main-timeline .timeline .timeline-icon:after {
    left: calc(100% + 6px);
  }
}

@media screen and (max-width: 576px) {
  .main-timeline .title {
    font-size: 18px;
  }
}


*/

main ul {
    padding-left: 0px;
    list-style: none;
}

main li a {
    text-decoration-line: none;
    margin-bottom: 7px;
    margin-top: 0px;
}

.result-link {
    color: #1a0dab;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 2px;
}

.green-link {
    color: #006621;
    max-width: 650px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 0px;
}

main li p {
    margin-bottom: 40px;
    margin-top: 0px;
}

.down-arrow {
    border-color: #006621 transparent;
    border-style: solid;
    border-width: 5px 4px 0;
    display: inline-block;
    vertical-align: middle;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#related ul {
    list-style: none;
    padding: 5px 0;
    column-width: auto;
    column-count: 2;
    padding-bottom: 20px;
    width: 450px;
}

#related li {
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}