@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
body {
  font-family: Poppins, sans-serif;
  font-size: 13px;
}
.logo100{
  width: 100px
}
.x_title h2,
.assessment-panel h2 {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 5px;
}
.x_title p {
  font-size: 13px;
  margin-bottom: 5px;
}
.x_stud-info {
  position: relative;
  padding: 10px 0;
}
.x_stud-info .info1 {
  position: relative;
  padding: 5px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  overflow: hidden;
  margin-bottom: 10px;
}
.x_stud-info .info2 {
  position: relative;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px solid #000;
  overflow: hidden;
  margin-bottom: 10px;
}
.print-controls {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background: #f4f4f4;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
  padding: 5px 10px;
  z-index: 99999;
}
.print-area {
  position: relative;
  width: 832px;
  max-width: 100%;
  min-height: 800px;
  overflow: hidden;
  margin: 50px 0;
}
.x_stud-info p {
  text-align: left;
  line-height: 15px;
}

.x_stud-info p strong {
  font-weight: 700;
}
.col-left h2 {
  text-align: left;
  padding-top: 20px;
  font-size: 18px;
  text-transform: uppercase;
}
.doc-info {
  margin-top: 10px;
}
.doc-info p {
  clear: both;
  font-size: 11px;
  
}
.doc-info p label {
  float: left;
  width: 48%;
 /* margin-right: 3px;*/
  border: 1px solid #000;
  padding: 3px;
  background: #07B150 !important;
  color: #ffffff !important;;
  text-align: right;
  margin-bottom: 0;
}
.doc-info p span {
  float: left;
  border: 1px solid #000;
  width: 49%;
  padding: 3px;
}
.logo {
  float: left;
  width: 110px;
  margin-right: 0px;
}
.logo img {
  width: 100%;
}
header {
  position: relative;
  height: 100px;
}
.classes-info {
  position: relative;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  overflow: hidden;
}
.classes-info .table {
  margin-bottom: 0px;
}
.classes-info.clearance .table tbody tr td {
  padding: 4px;
  font-size: 11px;
  border: 1px solid #000;
}

.classes-info.clearance .table tbody tr td p {
  font-size: 12px;
}

.table thead tr th {
  padding: 2px;
  margin: 0px;
  border: 1px solid #333333;
}
.table {
  border-bottom: 2px solid #000000;
}
.table tbody {
  font-size: 11px;
}

.table tbody tr td {
  padding: 4px;
  font-size: 11px;
}
.totalUnits {
  position: relative;
  padding: 10px;
}
.totalUnits.text-right {
  overflow: hidden;
  float: right;
  text-align: right;
}
.totalUnits.text-right p {
  margin-bottom: 0px;
  font-size: 11px;
}
.totalUnits.text-right p strong {
  font-weight: bold;
  text-decoration: underline;
}

.print-area .footer-info {
  position: relative;
  margin-top: 0px;
  font-size: 11px;
}
.assessment-panel {
  position: relative;
  margin-top:10px;
}
#table-assessment h2 {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 15px;
}
.assessment-panel table {
  width: 100%;
  margin-bottom: 10px;
}

.table-assessment thead > tr > th {
  background: #eee;
  border-bottom: 2px solid #ccc;
  padding: 5px;
  border-left: 0;
  border-right: 0;
}
.table-assessment hr {
  margin: 0px;
  width: 80px;
  border-top: 1px dotted #000;
}
.table-assessment .hr-2 {
  margin: 0px;
  width: 80px;
  height: 3px;
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
}

.footer-info .signature {
    width: 250px;
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
}
.footer-info .signature img {
    width: 30%;
}

.assessed-footer {
  position: relative;
  margin-top: 20px;
  text-align: left;
}
.assessed-footer .signature {
    width: 250px;
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
}
.assessed-footer img {
  width: 20%;
}
.assessed-footer p {
  color: #000;
}

.tbl-collections {
  width: 100%;
}
.tbl-collections tr td {
  padding: 5px;
  font-size: 12px;
  vertical-align: middle;
}
.tbl-collections1 {
  width: 100%;
}
.tbl-collections1 thead tr th {
  border: 1px solid #000;
  padding: 4px;
  font-size: 12px;
  vertical-align: middle;
}

/**** start TOR report ****/

.tbl-info, 
.tbl-content {
  width: 100%;
  margin-bottom: 20px;
}
.tbl-info tr td {
  border: 2px solid #000;
  padding: 5px;
  word-break: break-all;
  font-size: 13px;
  vertical-align: top;
}
.tbl-info1 {
  width: 100%;
}
.tbl-info1 tr td,
.tbl-content thead tr th {
  border: 2px solid #000;
  padding: 5px;
  word-break: break-all;
  font-size: 13px;
  vertical-align: middle;
  font-weight: bold;
}

.tbl-content tr td {
  padding: 5px;
  word-break: break-all;
  font-size: 13px;
}
.tbl-content tbody > tr > td > h3 {
  font-weight: bold;
  font-size: 14px;
}
.tbl-content tbody > tr > td > .progname {
  text-transform: uppercase;
}
.tbl-content tbody > tr > td > .semester {
  text-align: center;
  font-size: 12px;
}

.tbl-info tr td label {
  display: block;
  text-align: center;
  font-size: 10px;
}
.tbl-info tr td strong {
  font-weight: bold;
}

.tbl-info tr td .p-content {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  padding: 4px;
}

.tr-content td {
  font-size: 12px !important;
}

.div-info h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 8px;
}

.footer-info .tbl-info .grading-system label {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}
.footer-info .tbl-info .grading-system p {
  font-size: 10px;
  text-align: center;
  line-height: 14px;
}
.footer-info .tbl-info label {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}
.footer-info .tbl-info h2 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.signees {
  margin: 50px 0 15px 0;
  text-transform: uppercase;
  text-align: center !important;
  font-weight: bold;
}
.registrar {
  position: absolute;
  max-width: 100%;
  width: 205px;
  margin: 0px auto;
  bottom: 15px;
  text-align: center;
}
.registrar p {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3px;
  text-align: center;
}
.registrar em {
  font-size: 12px;  
}
.registrar {
  position: absolute;
  max-width: 100%;
  width: 205px;
  margin: 0px auto;
  bottom: 15px;
  text-align: center;
}
.registrar p {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.registrar em {
  font-size: 12px;  
}
.school-seal {
  position: relative;
  border-bottom: 1px solid #000;
  text-align: center;
  margin: 0 -5px;
  padding: 50px 5px;
}
.school-seal p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.date-issued {
  padding: 5px 5px 15px 5px;
  border-bottom: 1px solid #000;
  margin: 0 -5px;
}
.or-no {
  padding: 5px 0px;
}

/**** end TOR report ****/


/**** Collections Deposit Report ****/
.print-area header {
  text-align: center;
}
.print-area header .logo {
  float: left;
  width: 110px;
  margin-right: 0px;
}
.print-area header .logo img {
  width: 100%;
}

/**** END Collections Deposit Report ****/


.doc_Code tr td *{
  padding: 15px !important;
}


  .doc-info .info-label{
    text-align: left !important;
    background: #17A05D !important;
    color: white;
    padding: 0 !important;;
    width: 110px !important;
  }

  .doc-info td{
    border:  thin solid black;
    padding: .2em;
    width: 150px !important;
    text-align: right;
  }


.table-details h6{
  font-weight: bolder;
  margin-top: .5em;
}
.table-details td{
  padding: .7em 0;
}
