*{ color-adjust: exact; -webkit-print-color-adjust: exact; print-color-adjust: exact; }
body {
  font-family: arial, sans-serif;
  font-size: 13px;
  margin: 10px 10px 10px 10px;
}

/*fdsfsdf*/
.x_title h2 {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 5px;
}
.x_title p {
  font-size: 13px;
  margin-bottom: 5px;
}
.x_stud-info {
  position: relative;
  padding: 10px 0;
  text-align: left;
}
.print-controls {
  display: none;
}
.print-area {
  position: relative;
  width: 832px !important;
  max-width: 100% !important;
  min-height: 800px;
}
.x_stud-info p {
  text-align: left;
  line-height: 15px;
}
.x_stud-info p strong {
  font-weight: bold;
}
.x_stud-info .info1 {
  position: relative;
  padding: 5px 0px 5px 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  overflow: hidden;
  margin-bottom: 10px;
}
.x_stud-info .info2 {
  position: relative;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px solid #000;
  overflow: hidden;
  margin-bottom: 10px;
}

.col-left {
  float: left;
  width: 60%;
}
.col-right {
  float: right;
  width: 40%;
}
.col-left h2 {
  text-align: left;
  padding-top: 20px;
  font-size: 17px;
  margin: 0;
  text-transform: uppercase;
}
.col-left p {
  text-align: left;
}
.doc-info {
  margin-top: 10px;
}
.doc-info p {
  clear: both;
  font-size: 11px;
  display: block;
}
.doc-info p label {
  float: left;
  width: 48%;
 /* margin-right: 3px;*/
  border: 1px solid #000;
  padding: 3px;
  background: #07B150 !important;
  color: #ffffff !important;;
  text-align: right;
  margin-bottom: 0;
}
.doc-info p span {
  float: left;
  border: 1px solid #000;
  width: 49%;
  padding: 3px;
  text-align: left;

}
.logo {
  float: left;
  width: 90px;
  margin-top: 10px;
  margin-right: 10px;
}
.logo img {
  width: 100%;
}
.print-area header .col-left {
  float: left;
  width: 50%;
}
header {
  position: relative;
  height: 120px !important;
  text-align: center;
}
.col-2 {
  float: left;
  width: 20%;
  text-align: center;
}
.col-3 {
  float: left;
  width: 25%;
  text-align: center;
}
.col-6 {
  float: left;
  width: 50%;
  text-align: center;
}
.col-9 {
  float: left;
  width: 75%;
  text-align: center;
}
.classes-info {
  position: relative;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  overflow: hidden;
}
.classes-info.clearance .table tbody tr td {
  padding: 4px;
  font-size: 11px;
  border: 1px solid #000 !important;
}
.table thead tr th {
  padding: 2px;
  margin: 0px;
  border: 1px solid #333333;
}

.table {
  border-bottom: 2px solid #000000;
  margin-bottom: 0px;
}
.table tbody {
  font-size: 11px;
}

.table tbody tr td {
  padding: 4px;
  font-size: 11px;
}

.totalUnits {
  position: relative;
  padding: 10px;
}
.totalUnits.text-right {
  overflow: hidden;
  float: right;
  text-align: right;
}
.totalUnits.text-right p {
  margin-bottom: 0px;
  font-size: 11px;
}
.totalUnits.text-right p strong {
  font-weight: bold;
  text-decoration: underline;
}

.print-area .footer-info {
  position: relative;
  margin-top: 0px;
  font-size: 11px;
}

.print-area .footer-info .text-right {
  text-align: right;
}

.assessment-panel {
  position: relative;
  margin-top: 10px;
}
#table-assessment h2 {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 15px;
}
.assessment-panel table {
  width: 100%;
  margin-bottom: 10px;
}

.table-assessment thead > tr > th {
  background: #eee;
  border-bottom: 2px solid #000;
  padding: 5px;
  border-left: 0;
  border-right: 0;
}
.table-assessment hr {
  margin: 0px;
  width: 80px;
  border-top: 1px dotted #000;
}
.table-assessment .hr-2 {
  margin: 0px;
  width: 80px;
  height: 3px;
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
}  

.footer-info .signature {
    width: 250px;
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
}
.footer-info .signature img {
    width: 30%;
}

.assessed-footer {
  position: relative;
  margin-top: 40px;
  text-align: left;
}

.assessed-footer .signature {
    width: 250px;
    position: absolute;
    top: -30px;
    overflow: hidden;
    display: block;
    text-align: center;
}
.assessed-footer img {
  width: 20%;
}
.assessed-footer p {
  color: #000;
}



.tbl-collections {
  width: 100%;
}
.tbl-collections tr td {
  padding: 5px;
  font-size: 12px;
  vertical-align: middle;
}
.tbl-collections1 {
  width: 100%;
}
.tbl-collections1 thead tr th {
  border: 1px solid #000;
  padding: 4px;
  font-size: 12px;
  vertical-align: middle;
}

/**** start TOR report ****/
.tor-header {
  position: relative;
  margin-top: 40px;
}
.tor-header div {
  display: none;
}
.tbl-info, 
.tbl-content {
  width: 100%;
  margin-bottom: 20px;
}
.tbl-info tr td {
  border: 2px solid #000;
  padding: 5px;
  word-break: break-all;
  font-size: 13px;
  vertical-align: top;
}
.tbl-info1 {
  width: 100%;
}
.tbl-info1 tr td {
  border: 2px solid #000;
  padding: 5px;
  word-break: break-all;
  font-size: 13px;
  vertical-align: middle;
  font-weight: bold;
}
.tbl-content thead tr th {
  border: 2px solid #000;
  padding: 5px;
  word-break: break-all;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
} 
.tbl-content tr td {
  padding: 5px;
  word-break: break-all;
  font-size: 13px;
}
.tbl-content tbody > tr > td > h3 {
  font-weight: bold;
  font-size: 14px;
}
.tbl-content tbody > tr > td > .progname {
  text-transform: uppercase;
}
.tbl-content tbody > tr > td > .semester {
  text-align: center;
  font-size: 12px;
}
.tbl-info tr td label {
  display: block;
  text-align: center;
  font-size: 10px;
}
.tbl-info tr td strong {
  font-weight: bold;
}
.tbl-info tr td .p-content {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  padding: 4px;
}
.tr-content td {
  font-size: 12px !important;
}

.tr-content td {
  font-size: 12px !important;
}

.div-info h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 8px;
}

.footer-info .tbl-info .grading-system label {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}
.footer-info .tbl-info .grading-system p {
  font-size: 10px;
  text-align: center;
  line-height: 14px;
}
.footer-info .tbl-info label {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}
.footer-info .tbl-info h2 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.signees {
  margin: 50px 0 15px 0;
  text-transform: uppercase;
  text-align: center !important;
  text-align: center;
  font-weight: bold;
}
.registrar {
  position: absolute;
  max-width: 100%;
  width: 205px;
  margin: 0px auto;
  bottom: 15px;
  text-align: center;
}
.registrar p {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3px;
  text-align: center;
}
.registrar em {
  font-size: 12px;  
}
.school-seal {
  position: relative;
  border-bottom: 1px solid #000;
  text-align: center;
  margin: 0 -5px;
  padding: 50px 5px;
}
.school-seal p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.date-issued {
  padding: 5px 5px 15px 5px;
  border-bottom: 1px solid #000;
  margin: 0 -5px;
}
.or-no {
  padding: 5px 0px;
}
tr.pagebreak:before,
tr.pagebreak:after {
  content:""; 
  display: block; 
  page-break-after: always;
}
tr.pagebreak {
  display: block;
  page-break-after: always;
}
.col-4 {
  float: left;
  width: 33.3333%;
}
.print-breaker {
  height: 250px; 
  page-break-before: always;
}
tr.pagebreak {
  display: block;
  page-break-before: always;
  page-break-after: always;
}


/**** end TOR report ****/

.table-details h6{
  font-weight: bolder;
  margin-top: .5em;
}
.table-details td{
  padding: .7em 0;
}

